<div style="margin: 6% 3% 7% 3%;">
  <ion-card style="padding: 3% 7% 3% 5%; font-size: 16px;">
    <ion-card-title style="text-align: center; font-size: 100%;"><b> N° de Permiso:</b> {{ permiso.num_permiso }}
    </ion-card-title>

    <h6>
      <p style="font-size: 77%; margin-top:-2%;"> Solicita Permiso por {{ permiso.ntipopermiso | titlecase }}</p>
      <ion-card-title style="margin-top:-2%; font-size: 90%;" *ngIf="permiso.descripcion != null"><b> Descripcion </b>
      </ion-card-title><br>
      <p style="font-size: 84%; margin-top:-5.5%;" *ngIf="permiso.descripcion != null"> {{ permiso.descripcion }}</p>
      <p style="font-size: 90%; margin-top:-2%;" *ngIf="permiso.descripcion == null"> El Usuario no ha ingresado una
        descrcipcion</p>

      <ion-card-title style="margin-top:-1%; margin-bottom:-4%; font-size: 90%;"><b> Informacion </b></ion-card-title>
      <p style="font-size: 84%; margin: top -0.5em;">
        <strong> Usuario - </strong>{{ permiso.nempleado | titlecase }} &nbsp;
        <strong> Código - </strong>{{ permiso.codigo }}<br>
      </p>

      <ion-card-title style="margin-top:-1%; margin-bottom:-4%; font-size: 90%;"><b> Fecha </b></ion-card-title>
      <p style="font-size: 84%; margin: top -0.5em;">
        <strong> Desde: </strong>{{ permiso.fec_inicio_ }} <br>
        <strong> Hasta: </strong> {{ permiso.fec_final_ }}<br>
        <strong> Hora inicia: </strong> {{ permiso.hora_salida_ }} <br>
        <strong> Hora finaliza:</strong> {{ permiso.hora_ingreso_ }}<br>
        <strong> Permiso - Horas: </strong> {{ permiso.hora_numero }} /&nbsp;
        <strong> Dias: </strong> {{ permiso.dia }} <br>
        <br>
        <ion-card-title style="margin-top:-2%; margin-bottom:-3%; font-size: 95%;"> Fecha solicita: {{
          permiso.fec_creacion_ }} </ion-card-title>
      </p>
    </h6>
  </ion-card>
</div>