.tamanoImagen {
    height: 55%;
    width: 55%;
    display: block;
    margin: auto;
    
  }

.textoTimbreEmpleado {
    text-align: center;
    font-size: 90%;
    color: #5894ff;
}

.tamanoBotonIZQ {
    width: 3rem;
    height: 2rem;
    position: absolute;
    left: 5%;
}
.centrarTimbre {
    margin: auto;
    width: 90%;
    margin-right: 10%;
}

.tamanoIconoEmpleado {
    font-size: 150%;
    padding: 0;
    margin: 0;
    border: 0;
}
.tamanoBotonDER {
    width: 5rem;
    height: 2rem;
    position: absolute;
    right: 30%;
    font-size: 70%;
}
.textoObs {
    text-align: center;
    cursor: pointer;
    font-size: 70%;
}

.ubicacionDER {
    width: 5rem;
    height: 3rem;
    position: absolute;
    right: 0%;
}


p {
    font-size: 70%;
    overflow-wrap: break-word;
}
h4 {
    margin-top: 1%;
    font-size: 85%;
}

ion-label {
    font-size: 70%;
}

.paginacion{
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .paginacion ::ng-deep .ngx-pagination {
    padding: 0%;
    margin: auto;
  }
  
.paginacion ::ng-deep .ngx-pagination .current {
    background: rgb(28, 133, 219);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 5px;
}
    
.paginacion :host ::ng-deep .ngx-pagination span {
    color: rgb(255, 255, 255);
    font-family:monospace;
}

.paginacion ::ng-deep .ngx-pagination a{
    background-color: transparent;
    color: rgb(255, 255, 255);
}