<ion-header style="color: #000000;">
  <ion-toolbar>
    <ion-title>Ver Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div style="padding:1%; background: white">
    <br><br>
    <ion-img class="center" style="width:45%;" src="../../../assets/images/C_FTLOGORV.png"></ion-img>
    <ion-label mode="md" color="medium" style="text-align:center">
      <h1 style="font-size: 4.5vw"><b>Reloj Virtual</b></h1>
    </ion-label>
  </div>
  <br>
</ion-header>

<ion-content fullscreen *ngIf="isConnected && serverConnected">

  <ion-list mode="md" style="margin-top: 2%;">
    <app-refresh-info (onRefresh)="ngOnInit()" removeItem="noClean"></app-refresh-info>

    <ion-card>
      <ion-img class="tamanoImagen" src="../../../assets/images/empleado.svg"></ion-img><br>
      <ion-label style="text-align:center;">
        <h2 style="font-size: 5vw"><b>Información Personal {{usuario.nombre}}</b></h2>
      </ion-label>
      <ion-list>
        <ion-item style="font-size: 4vw">
          <ion-label>Nombre:</ion-label>
          <ion-label slot="end">{{usuario.nombre}}</ion-label>
        </ion-item>
        <ion-item style="font-size: 4vw">
          <ion-label>Apellido:</ion-label>
          <ion-label slot="end">{{usuario.apellido}}</ion-label>
        </ion-item>
        <ion-item style="font-size: 4vw">
          <ion-label>Cédula:</ion-label>
          <ion-label slot="end">{{usuario.identificacion}}</ion-label>
        </ion-item>
        <ion-item style="font-size: 4vw">
          <ion-label>Género:</ion-label>
          <ion-label slot="end">{{usuario.genero}}</ion-label>
        </ion-item>
        <ion-item style="font-size: 4vw">
          <ion-label>Nacionalidad:</ion-label>
          <ion-label slot="end">{{usuario.nombre_nacionalidad}}</ion-label>
        </ion-item>
        <ion-item style="font-size: 4vw">
          <ion-label>Usuario:</ion-label>
          <ion-label slot="end">{{usuario.usuario}}</ion-label>
        </ion-item>
        <ion-item style="font-size: 4vw">
          <ion-label>Teléfono:</ion-label>
          <ion-label slot="end">
            <a slot="end" [href]="'https://api.whatsapp.com/send?phone=' + (usuario.telefono ?? '')" class="ion-text"
              *ngIf="(usuario.telefono?.length ?? 0) >= 10">
              {{ usuario.telefono }}
            </a>
            <ion-label slot="end" *ngIf="(usuario.telefono?.length ?? 0) >= 10">{{usuario.telefono}}</ion-label>
          </ion-label> </ion-item>
        <ion-item style="font-size: 4vw">
          <ion-label>Ciudad:</ion-label>
          <ion-label slot="end">{{usuario.ciudad}}</ion-label>
        </ion-item>
        <ion-item style="font-size: 4vw">
          <ion-label>Domicilio:</ion-label>
          <ion-label slot="end">{{usuario.domicilio}}</ion-label>
        </ion-item>
        <ion-item style="font-size: 4vw">
          <ion-label>Sucursal:</ion-label>
          <ion-label slot="end">{{usuario.name_suc}}</ion-label>
        </ion-item>
        <ion-item style="font-size: 4vw">
          <ion-label>Departamento:</ion-label>
          <ion-label slot="end">{{usuario.name_dep}}</ion-label>
        </ion-item>
        <ion-item style="font-size: 4vw">
          <ion-label>Rol:</ion-label>
          <ion-label slot="end">{{usuario.name_rol}}</ion-label>
        </ion-item>
        <ion-item style="font-size: 4vw">
          <ion-label>Régimen:</ion-label>
          <ion-label slot="end">{{usuario.name_regimen}}</ion-label>
        </ion-item>

      </ion-list>
    </ion-card>
  </ion-list>


  <ion-list mode="md" *ngIf="app_vacuna.id_tipo_vacuna != ''">
    <ion-list-header>
      <ion-label style="text-align:center">
        <h1 style="font-size: 5vw"><b> Historial Vacuna </b></h1>
      </ion-label>
    </ion-list-header>
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-label>Descripción: </ion-label>
          <ion-label slot="end">{{app_vacuna.descripcion}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Fecha:</ion-label>
          <ion-label slot="end">{{fecha_}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Vacuna:</ion-label>
          <ion-label slot="end">{{app_vacuna.nombre}}</ion-label>
        </ion-item>
        <ion-item
          *ngIf="app_vacuna.nom_carnet != null && app_vacuna.nom_carnet != '' && app_vacuna.nom_carnet != undefined">
          <ion-label>Carnet:</ion-label>
          <ion-label slot="end">
            <a href="http://186.71.19.82:3001/vacunas/documentos/{{app_vacuna.carnet}}"> {{app_vacuna.nom_carnet}}
            </a>
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card>
  </ion-list>
</ion-content>

<ion-content *ngIf="!isConnected || !serverConnected">
  <app-refresh-info (onRefresh)="ngOnInit()" removeItem="noClean"></app-refresh-info>

  <!-- Ventana de no conexion a internet-->
  <div style="margin: 2%; padding: 2%; text-align: center; border-radius: 2%;">
    <ion-text color='medium' style="font-family: Arial, Helvetica, sans-serif; font-size: 90%;">
      En esta vista encontrará información del empleado seleccionado.
    </ion-text>
    <br>
    <br>
    <ion-text color='medium' style="font-family: Arial, Helvetica, sans-serif; font-size: 80%;" *ngIf="!isConnected">
      Se podrán visualizar cuando tenga conexión a internet
    </ion-text>
    <br>

    <ion-text color='medium' style="font-family: Arial, Helvetica, sans-serif; font-size: 80%;"
      *ngIf="!serverConnected">
      Se podrán visualizar cuando tenga conexión al servidor
    </ion-text>
  </div>
  <div class="Imagen">
    <span class="center1">
      <img src="../../../assets/images/C_FTLOGORV.png">
      <ion-label style="text-align:center" mode="md" color="medium">
        <h1 style="font-size: 3vw"><b>Reloj Virtual</b></h1>
      </ion-label>
    </span>
    <img src="../../../assets/images/lost_timee.svg" />
  </div>

  <div style="margin: 4%; padding: 4%; text-align: center; border-radius: 2%;">
    <ion-text color='dark' style="font-family: Arial, Helvetica, sans-serif;" *ngIf="!isConnected">
      No tiene conexión a internet
    </ion-text>
    <br>

    <ion-text color='dark' style="font-family: Arial, Helvetica, sans-serif;" *ngIf="!serverConnected">
      No tiene conexión al servidor
    </ion-text>
  </div>
</ion-content>