<ion-header>
  <div style="padding:10% 1% 4% 1%; background: white">
    <img class="center" style="width:45%;" src="../../../assets/images/C_FTLOGORV.png"/>
  </div>
  <ion-item>
    <div style="margin: auto;">
      <h5 style="text-align:center">
        <ion-icon name="airplane-outline" slot="start"></ion-icon> Aprobación Vacaciones
      </h5>
    </div>
  </ion-item>
</ion-header>

<ion-content>
  <div style="margin-top: 6px;"></div>
  <app-all-vacaciones></app-all-vacaciones>
</ion-content>