<div style="margin: 6% 3% 7% 3%;">
  <ion-card style="padding: 3% 7% 3% 5%; font-size: 16px;">
    <ion-card-title style="text-align: center; font-size: 100%;"><b> {{ vacacion.nempleado | titlecase}} </b>
    </ion-card-title>

    <h6>
      <p style="font-size: 95%; margin-top:-4%;"> Solicita {{ vacacion.nperivacacion }}</p>

      <ion-card-title style="margin-top:-2%; margin-bottom:-3%; font-size: 90%;"><b> Informacion </b></ion-card-title>
      <p style="font-size: 85%; margin: top -0.5em;">
        <strong> Usuario - </strong>{{ vacacion.nempleado }} &nbsp;
        <strong> Código - </strong>{{ vacacion.codigo }}<br>
        <strong> Cargo - </strong> {{ vacacion.ncargo }}
      </p>

      <ion-card-title style="margin-top:-2%; margin-bottom:-3%; font-size: 90%;"><b> Fecha </b></ion-card-title>

      <p style="font-size: 85%; margin: top -0.5em;">
        <strong> Inicia: </strong>{{ vacacion.fec_inicio_ }}<br>
        <strong> Finaliza: </strong> {{ vacacion.fec_final_ }}<br>
        <strong> Días libres:</strong> {{ vacacion.dia_libre }} -
        <strong> Días laborables: </strong> {{ vacacion.dia_laborable }}<br>
        <br>
        <ion-card-title style="margin-top:-2%; margin-bottom:-3%; font-size: 95%;"> Retorno laboral: {{
          vacacion.fec_ingreso_ }}</ion-card-title>
      </p>
    </h6>
  </ion-card>
</div>