<app-close-modal titleModal="Generar Reporte"></app-close-modal>


<ion-content>

  <br>
  <ion-text color="primary" *ngIf="fechaInicio === '' || fechaFinal === ''; else showBoton">
    <h1 style="margin: 5px 15px; text-align: center;">Falta agregar las fechas de consultas</h1>
  </ion-text>

  <ng-template #showBoton>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-text color="dark">
            <h4 style="margin: 5px 15px; text-align: center;"><ion-icon name="person"></ion-icon>{{data.fullname}}</h4>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-button color="success" shape="round" expand="full" (click)="generarExcel()" [disabled]="!showBtnPdf">
            <ion-icon name="grid"></ion-icon>EXCEL
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button color="danger" shape="round" expand="full" (click)="GenerarPDF()" [disabled]="!showBtnPdf">
            <ion-icon name="document-text-outline"></ion-icon>PDF
          </ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>
    <div *ngIf="!existenEmpleados">
      <ion-text color="primary">
        <span>Obteniendo timbres</span>
      </ion-text>
      <ion-progress-bar value="0.5" buffer="0.75"></ion-progress-bar>
    </div>

    <div class="info" *ngIf="count != 0">
      <h5>
        Timbres encontrados {{count}}
      </h5>
    </div>
    <div class="table-responsive" *ngIf="verReporte">

      <table *ngIf="verReporte">
        <thead class="header-table">
          <tr>
            <td style="text-align: center;" rowspan="2">N°</td>
            <td style="text-align: center;" rowspan="2">CÓDIGO</td>
            <td style="text-align: center;" rowspan="2">EMPLEADO</td>
            <td style="text-align: center;" colspan="2">TIMBRE</td>
            <td style="text-align: center;" colspan="2" [ngClass]="{'hidden': !activarOpcion}">DISPOSITIVO</td>
            <td style="text-align: center;" rowspan="2">RELOJ</td>
            <td style="text-align: center;" rowspan="2">ACCIÓN</td>
            <td style="text-align: center;" rowspan="2">OBSERVACION</td>
            <td style="text-align: center;" rowspan="2">UBICACIÓN</td>
            <td style="text-align: center;" rowspan="2">NOVEDAD DE CONEXIÓN</td>
            <td style="text-align: center;" rowspan="2">HORA TIMBRE DIFERENTE</td>

          </tr>
          <tr>
            <td style="text-align: center;">FECHA</td>
            <td style="text-align: center;">HORA</td>
            <td style="text-align: center;" [ngClass]="{'hidden': !activarOpcion}">FECHA</td>
            <td style="text-align: center;" [ngClass]="{'hidden': !activarOpcion}">HORA</td>
          </tr>
        </thead>
        <tbody class="detail-table">
          <tr *ngFor="let timbre of timbres">
            <td>{{timbre.n}}</td>
            <td>{{timbre.codigo}}</td>
            <td>{{timbre.empleado}}</td>
            <td>{{timbre.fechaTimbreServidor}}</td>
            <td>{{timbre.horaTimbreServidor}}</td>
            <td *ngIf="activarOpcion">{{timbre.fechaTimbre}}</td>
            <td *ngIf="activarOpcion">{{timbre.horaTimbre}}</td>
            <td>{{timbre.reloj}}</td>
            <td>{{timbre.accion}}</td>
            <td>{{timbre.observacion}}</td>
            <td>{{timbre.ubicacion}}</td>
            <td>{{timbre.novedades_conexion}}</td>
            <td>{{(timbre.hora_timbre_diferente === true) ? 'Si' : 'No'}}</td>
          </tr>

          <tr>
            <td colspan="8" *ngIf="count != 0">
              <p>
                Total timbres filtrados {{count}}
              </p>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <br><br>
  </ng-template>

</ion-content>