.contenido{
    margin: 5% 4% 2% 4%;
    padding: 1%;
    border-radius: 5px;
}

ion-datetime {
    --background: #20453990;
    --background-rgb: 255, 241, 242;
    --color: #f0ffffe4;
    border-radius: 16px;
    box-shadow: rgba(59, 135, 93, 0.429) 0px 10px 15px -3px;
}