<app-close-modal titleModal="Registrar Timbre"></app-close-modal>

<ion-content>

  <div class="contenido">
    <ion-list style="margin-top: 3%; padding: -2%; border-radius: 3%;">
      <ion-item>
        <ion-icon slot="end" name="person" color="secondary"></ion-icon>
        <b> NOMBRE DEL EMPLEADO:</b>
      </ion-item>
      <ion-item>
        <ion-label>{{ data.fullname }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-list style="margin-top: 3%; padding: -2%; border-radius: 3%;">
      <ion-item>
        <ion-icon slot="end" name="time-outline" color="secondary"></ion-icon>
        <b> TIPO DE TIMBRE: </b>
      </ion-item>
      <ion-item>
        <ion-select value="Ninguno" okText="Aceptar" cancelText="Cancelar" (ionChange)="accionChange($event)">
          <ion-select-option *ngFor="let t of selectOptions" [value]="t.accion">{{t.view}} </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>


    <ion-list style="margin-top: 3%; padding: -2%; border-radius: 3%;">
      <ion-item>
        <ion-icon slot="end" name="time-outline" color="secondary"></ion-icon>
        <b> OBSERVACIONES: </b>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Escriba aquí..." maxlength=299 spellcheck (ionChange)="ionChange()"
          [(ngModel)]="observacion"> </ion-textarea>
        <p class="letraPeque">{{numeroCaracteres}}/299</p>
      </ion-item>
    </ion-list>

    <b style="margin-top: 3%; padding: -2%; margin-left: 4% ; border-radius: 3%;"> Subir documento de respaldo </b>
    <div class="formdiv">
      <ion-item class="item_fondo" for="file">
        <ion-label style="margin: 3% 0% -1.5% 0%; font-size: 75%;"><b> Registrar Timbre </b></ion-label>

        <!--Este input, permite validar el boton btn_save, que se active o este desactivado deacurdo al documento ingresado-->
        <!-- Esto, permite ingresar el documento-->

        <ion-input (click)="selectImage()" name="file" id="file"></ion-input>

        <ion-label position="floating" style="font-size: 90%; margin-bottom: 3%;">
          <ion-icon slot="start" color="theme" class="icon_upload" name="cloud-upload-outline"></ion-icon>&nbsp;
          &nbsp;
          &nbsp; Subir justificación:
        </ion-label>

        <!-- Mesaje que tiene el nombre del archivo a subir -->
        <ion-text *ngIf="base64Image != '' && base64Image !== null && base64Image !== undefined"
          style="font-size: 82%; margin:2% 0% 3% 0%; " color="success">Archivo subido correctamente</ion-text>

        <!-- Mesaje que indica el error en subir el archivo -->

      </ion-item>

      <div *ngIf="base64Image != '' && base64Image !== null && base64Image !== undefined">
        <ion-button [disabled]=" !base64Image" color="medium" shape="round" expand="block" (click)="deleteImagen()">
          <ion-text style="font-size: 90%;"> <ion-icon color="danger" name="trash-outline"></ion-icon> Quitar documento
          </ion-text>
        </ion-button>
      </div>
    </div>


    <ion-list style="margin-top: 3%; padding: -2%; border-radius: 3%;">
      <ion-item>
        <ion-icon slot="end" name="calendar-outline" color="success"></ion-icon>
        <b> FECHA Y HORA TIMBRE:</b>
      </ion-item>
      <ion-item>
        <ion-datetime hourCycle="h12" color="success" (ionChange)="fechaChange($event)" placeholder="Seleccion Fecha"
          mode="ios">
          <span slot="title">Seleccione el día</span>
          <span slot="time-label">Ingrese la Hora</span>
        </ion-datetime>
      </ion-item>   
      <ion-item *ngIf="versegundos">
        <ion-label>Segundos</ion-label>
        <ion-select [(ngModel)]="selectedSecond" (ionChange)="updateFechaConSegundos()">
          <ion-select-option *ngFor="let second of seconds" [value]="second">{{ second }}</ion-select-option>
        </ion-select>
      </ion-item>
      
    </ion-list>
    <br>
    <ion-button shape="round" expand="block" (click)="enviarTimbre()"><ion-icon
        name="paper-plane-outline"></ion-icon>&nbsp;&nbsp; Enviar Timbre</ion-button>
  </div>

</ion-content>