<app-close-modal titleModal="Justificar Timbre"></app-close-modal>

<ion-content>

  <div class="contenido">
    <ion-list style="margin-top: 3%; padding: -2%; border-radius: 3%;" >
      <ion-item>
        <ion-icon slot="end" name="person" color="secondary"></ion-icon>
        <b> NOMBRE DEL EMPLEADO:</b>
      </ion-item>
      <ion-item>
        <ion-label>{{ data.fullname }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-list style="margin-top: 3%; padding: -2%; border-radius: 3%;" >
      <ion-item>
        <ion-icon slot="end" name="time-outline" color="secondary"></ion-icon>
        <b> TIPO DE TIMBRE: </b>
      </ion-item>
      <ion-item>
        <ion-select value="Ninguno" okText="Aceptar" cancelText="Cancelar" (ionChange)="accionChange($event)">
          <ion-select-option *ngFor="let t of selectOptions" [value]="t.accion">{{t.view}} </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list style="margin-top: 3%; padding: -2%; border-radius: 3%;" >
      <ion-item>
        <ion-icon slot="end" name="calendar-outline" color="success"></ion-icon>
        <b> FECHA Y HORA TIMBRE:</b>
      </ion-item>
      <ion-item>
        <ion-datetime hourCycle="h12" color="success" (ionChange)="fechaChange($event)" placeholder="Seleccion Fecha" mode="ios">
          <span slot="title">Seleccione el dia</span>
          <span slot="time-label">Ingrese la Hora</span>
        </ion-datetime>
      </ion-item>
    </ion-list>
    <br>
    <ion-button shape="round" expand="block" (click)="enviarTimbre()"><ion-icon name="paper-plane-outline"></ion-icon>&nbsp;&nbsp; Enviar Timbre</ion-button>
  </div>

</ion-content>