<app-close-modal titleModal="Usuarios"></app-close-modal>
<ion-content>

    <ion-list>
        <ion-radio-group [(ngModel)]="radioValue" (ionChange)="showValue()">
            <ion-text mode="ios" color="dark" style="text-align: center;">
                <h3>Criterios de búsqueda</h3>
            </ion-text>
            <ion-item *ngFor="let c of solicitudes">
                <ion-label>{{ c.nombre }}</ion-label>
                <ion-radio slot="end" color="success" [value]="c.valor"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>

    <ion-content *ngIf="!loadingEmpleado">
        <div style="text-align: center;">
            <br>
            <ion-text color="primary">
                <span>Obteniendo Datos Por favor Espere</span>
            </ion-text>
            <ion-progress-bar type="indeterminate"></ion-progress-bar>
            <br>
        </div>
    </ion-content>

    <!-- LISTAR SUCURSALES -->

    <ion-row *ngIf="opcion_sucursal">
        <ion-col *ngIf="isChecked_sucu" size="2">
            <ion-button color="secondary" (click)="checkedAll_sucu( isAllCheck_sucu )">
                <ion-icon name="checkmark-done-outline"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col [size]="isChecked_sucu ? 10: 12">
            <ion-button (click)="EnviarSucursal()" shape="round" [disabled]="boton_enviar">
                ENVIAR
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-searchbar *ngIf="opcion_sucursal" autocomplete="off" showCancelButton="focus"
        (ionChange)="changeSearchSucursales($event)"></ion-searchbar>
    <ion-list *ngIf="opcion_sucursal">
        <ion-text mode="ios" color="dark" style="text-align: center;">
            <h3>Resultado Sucursales</h3>
        </ion-text>
        <ion-item
            *ngFor="let s of sucursales_filtro| paginate: { itemsPerPage: 10, currentPage: pageActualSucursal }"
            class="item-color" mode="md" lines="full">
            <ion-checkbox *ngIf="isChecked_sucu" slot="start" [(ngModel)]="s.isChecked_sucu"></ion-checkbox>
            <ion-label>{{ s.sucursal }}</ion-label>
        </ion-item>
    </ion-list>

    <!--Configuracion del Pagination - ngxPaginationModulo-->
    <ion-item style="font-size: 80%; margin: 0% 0% 1% 0%; display: flex; justify-content: center;"
        [hidden]="verSucursal" *ngIf="opcion_sucursal">
        <pagination-controls class="paginacion" (pageChange)="pageActualSucursal = $event" [maxSize]=maxSize
            [directionLinks]=directionLinks [responsive]=responsive [autoHide]="autoHide"
            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
            [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
            [screenReaderPageLabel]="labels.screenReaderPageLabel"
            [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel">
        </pagination-controls>
    </ion-item>

    <!-- LISTAR DEPARTAMENTOS -->

    <ion-row *ngIf="opcion_depa">
        <ion-col *ngIf="isChecked_depa" size="2">
            <ion-button color="secondary" (click)="checkedAll_depa( isAllCheck_depa )">
                <ion-icon name="checkmark-done-outline"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col [size]="isChecked_depa ? 10: 12">
            <ion-button (click)="EnviarDepartamento()" shape="round" [disabled]="boton_enviar">
                ENVIAR
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-searchbar *ngIf="opcion_depa" autocomplete="off" showCancelButton="focus"
        (ionChange)="changeSearchDepartamento($event)"></ion-searchbar>

    <ion-list *ngIf="opcion_depa">
        <ion-text mode="ios" color="dark" style="text-align: center;">
            <h3>Resultado Departamentos</h3>
        </ion-text>
        <ion-item style="margin: 2.5%; padding: -2%; border-radius: 3%;"
            *ngFor="let d of departamentos_filtro | paginate: { itemsPerPage: 10, currentPage: pageActualDepartamento }"
            class="item-color" mode="md" lines="full">
            <ion-checkbox *ngIf="isChecked_depa" slot="start" [(ngModel)]="d.isChecked_depa"></ion-checkbox>
            <ion-label>
                <h2> {{ d.sucursal }}</h2>
                <p>Departamento: {{d.departamento}} </p>
            </ion-label>
        </ion-item>
    </ion-list>

    <!--Configuracion del Pagination - ngxPaginationModulo-->
    <ion-item style="font-size: 80%; margin: 0% 0% 1% 0%; display: flex; justify-content: center;"
        [hidden]="verDepartamento" *ngIf="opcion_depa">
        <pagination-controls class="paginacion" (pageChange)="pageActualDepartamento = $event" [maxSize]=maxSize
            [directionLinks]=directionLinks [responsive]=responsive [autoHide]="autoHide"
            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
            [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
            [screenReaderPageLabel]="labels.screenReaderPageLabel"
            [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel">
        </pagination-controls>
    </ion-item>


    <!-- LISTAR EMPLEADOS -->

    <ion-row *ngIf="opcion_empleado">
        <ion-col *ngIf="isChecked_empl" size="2">
            <ion-button color="secondary" (click)="checkedAll_empl( isAllCheck_empl )">
                <ion-icon name="checkmark-done-outline"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col [size]="isChecked_empl ? 10: 12">
            <ion-button (click)="EnviarEmpleado()" shape="round" [disabled]="boton_enviar">
                ENVIAR
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-searchbar *ngIf="opcion_empleado" autocomplete="off" showCancelButton="focus"
        (ionChange)="changeSearch($event)"></ion-searchbar>

    <ion-list *ngIf="opcion_empleado">
        <ion-text mode="ios" color="dark" style="text-align: center;">
            <h3>Resultado Usuarios</h3>
        </ion-text>
        <ion-item *ngFor="let e of empleados_filtro | paginate: { itemsPerPage: 10, currentPage: pageActual }"
            class="item-color" mode="md" lines="full">
            <ion-checkbox *ngIf="isChecked_empl" slot="start" [(ngModel)]="e.isChecked_empl"></ion-checkbox>
            <ion-label>{{ e.nombre }}</ion-label>
        </ion-item>
    </ion-list>
    <!--Configuracion del Pagination - ngxPaginationModulo-->
    <ion-item style="font-size: 80%; margin: 0% 0% 1% 0%; display: flex; justify-content: center;" [hidden]="ver"
        *ngIf="opcion_empleado">
        <pagination-controls class="paginacion" (pageChange)="pageActual = $event" [maxSize]=maxSize
            [directionLinks]=directionLinks [responsive]=responsive [autoHide]="autoHide"
            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
            [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
            [screenReaderPageLabel]="labels.screenReaderPageLabel"
            [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel">
        </pagination-controls>
    </ion-item>
</ion-content>