<ng-container *ngIf="loading; then showSkeletor else showList"></ng-container>

<ng-template #showSkeletor>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let s of skeleton">
      <ion-label>
        <h3>
          <ion-skeleton-text animated [style]="{width: s.h3 }"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated [style]="{width: s.p1 }"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated [style]="{width: s.p2 }"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-template>
<ng-template #showList>
  <app-refresh-info (onRefresh)="ngOnInit()" removeItem="noClean"></app-refresh-info>

  <ion-button expand="full" shape="round" style="margin: 10px 10px" color="primary"
    (click)="presentModalNuevoRegistro( )">
    <ion-icon slot="start" name="add-circle-outline"></ion-icon>
    Nueva Vacación
  </ion-button>

  <ion-list-header>
    <ion-label style="text-align: center;">
      <h2>Tus Vacaciones</h2>
    </ion-label>
  </ion-list-header>

  <ion-card *ngFor="let vacacion of vacaciones | paginate: { itemsPerPage: 5, currentPage: pageActual }" mode="md"
    style="margin-top: 5%; border: solid 1px rgb(123, 124, 125);" [color]="colorfondocard(vacacion)">
    <ion-item>
      <div class="etiqueta" slot="start">
        <p style="font-size: 62%; margin-top: -4%;">
          <strong> Solicitud {{ vacacion.id}} </strong>
        </p>
        <ion-icon class="icono" name="airplane-outline" slot="start"></ion-icon>
        <ion-text class="icono_texto">
          <p class="servicio">
            <strong> Vacaciones </strong>
          </p>
          <p *ngIf="vacacion.estado == 1 " class="pendiente">
            Pendiente
          </p>
          <p *ngIf="vacacion.estado == 2" class="pre_autorizado">
            Pre Autorizada
          </p>
          <p *ngIf="vacacion.estado == 3" class="autorizada">
            Autorizada
          </p>
          <p *ngIf="vacacion.estado == 4" class="negado">
            Negada
          </p>
        </ion-text>
      </div>

      <div class="info">
        <p>
          <ion-text>
            <strong>Fecha</strong><br>
            Desde: {{ vacacion.fec_inicio_ }}<br>
            Hasta: {{ vacacion.fec_final_ }}<br>
            <strong>Días Laborables: </strong> {{ vacacion.dia_laborable }} <br>
            <strong>Días Libres: </strong> {{ vacacion.dia_libre }}
          </ion-text>
        </p>
      </div>

      <div slot="end" style="text-align: center; font-size: 20px;">
        <!-- ver registro -->
        <ion-icon slot="end" name="eye-outline" (click)="presentModalVerRegistro( vacacion )"></ion-icon><br>
        <!-- editar registro -->
        <ion-icon *ngIf="vacacion.estado === 1" slot="end" name="create-outline"
          (click)="presentModalEditarRegistro( vacacion )" style="margin-bottom:15%;"></ion-icon><br>
        <!-- eliminar registro -->
        <btn-delete (onDelete)="ngOnInit()" [isButtom]="false" nameTable="vacaciones" [idreg]="vacacion.id"
          [userCodigo]="vacacion.codigo"></btn-delete>
      </div>

    </ion-item>

    <ion-label style="font-size: 11px; margin: 2%; float:right">
      <strong> Solicitud realizada &nbsp; {{ vacacion.fec_inicio_ }} </strong>
    </ion-label>

  </ion-card>

  <!--Configuracion del Pagination - ngxPaginationModulo-->
  <ion-item style="font-size: 70%; margin: 1% 0% 1% 0%;" [hidden]="ver">
    <pagination-controls 
      class="paginacion" 
      (pageChange)="pageActual = $event" 
      [maxSize] = maxSize
      [directionLinks] = directionLinks
      [responsive] = responsive 
      [autoHide]="autoHide"
      [previousLabel]="labels.previousLabel"
      [nextLabel]="labels.nextLabel"
      [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
      [screenReaderPageLabel]="labels.screenReaderPageLabel"
      [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel">
    </pagination-controls>
  </ion-item>
</ng-template>