.Contenido{
    width: 94%; 
    border-radius: 10px; 
    margin: 2% 3% 0% 3%;
}

  
.stilo_selection{
    border-radius: 10px;
    border: 2px outset #9dd9d1;
}
  
.stilo_selection::-ms-expand{
    display: none;
}
  
.stilo_selection:hover{
    border-color: rgb(70, 192, 219);
}