<ion-header style="color: #000000;">
  <div style="padding:1%; background: white">
    <br><br>
    <ion-img class="center" style="width:45%;" src="../../../assets/images/C_FTLOGORV.png"></ion-img>
    <ion-label mode="md" color="medium" style="text-align:center">
      <h1 style="font-size: 4.5vw"><b>Reloj Virtual</b></h1>
    </ion-label>
  </div>
  <br>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
