<div class="popover-notificaciones">

  <div class="cabecera-notificaciones">
    <ion-icon name="notifications-outline"></ion-icon>
    <span>Notificaciones</span>

    <b *ngIf="countNoti != 0" class="contador-notificaciones">
      {{ countNoti }}
    </b>
  </div>

  <div class="lista-notificaciones">

    <ng-container *ngIf="loading; then showSkeletor else showList"></ng-container>

    <ng-template #showList>

      <ion-card *ngIf="countNoti == 0" class="card-sin-notificaciones">
        <ion-label>
          <h4>No tiene nuevas notificaciones</h4>
        </ion-label>
      </ion-card>

      <ng-container *ngFor="let noti of notificacionesAll">

        <ion-card
          *ngIf="CambiarEstiloNotificacion[noti.tipo]"
          class="card-notificacion"
          (click)="AbrirNoti(noti)"
          [ngStyle]="{
            'background': noti.visto
              ? 'rgb(226, 226, 226)'
              : CambiarEstiloNotificacion[noti.tipo].color
          }">

          <ion-item lines="none" style="--background: transparent;">
            <ion-label>

              <p class="titulo-card-noti">
                <ion-icon
                  [name]="CambiarEstiloNotificacion[noti.tipo].icon"
                  [ngStyle]="{
                    'color': noti.visto
                      ? 'rgb(0, 0, 0)'
                      : CambiarEstiloNotificacion[noti.tipo].iconColor
                  }">
                </ion-icon>

                <ng-container *ngIf="noti.tipo === 6; else otraNoti">
                  <strong>COMUNICADO:</strong>
                </ng-container>

                <ng-template #otraNoti>
                  <strong>{{ noti.descripcion }}</strong>
                </ng-template>
              </p>

              <p class="detalle-noti" *ngIf="noti.empleado">
                <strong>Enviado por:</strong> {{ noti.empleado }}
              </p>

              <p class="detalle-noti" *ngIf="noti.notificacion">
                <strong>Notificación:</strong>&nbsp;<em>{{ noti.notificacion }}</em>
              </p>

              <!-- PERMISOS / VACACIONES -->
              <ng-container *ngIf="CambiarEstiloNotificacion[noti.tipo].grupo === 'solicitud'">

                <p class="detalle-noti" *ngIf="noti.motivo">
                  <strong>Motivo:</strong>&nbsp;{{ noti.motivo }}
                </p>

                <p class="detalle-noti" *ngIf="noti.fecha_desde">
                  <strong>Desde:</strong>&nbsp;{{ noti.fecha_desde }}
                </p>

                <p class="detalle-noti" *ngIf="noti.fecha_hasta">
                  <strong>Hasta:</strong>&nbsp;{{ noti.fecha_hasta }}
                </p>

                <p class="detalle-noti" *ngIf="noti.hora_inicio">
                  <strong>Horario:</strong> {{ noti.hora_inicio }} - {{ noti.hora_fin }}
                </p>

              </ng-container>

              <!-- ATRASOS / FALTAS / SALIDAS -->
              <ng-container *ngIf="CambiarEstiloNotificacion[noti.tipo].grupo === 'asistencia'">

                <p class="detalle-noti" *ngIf="noti.horario_fecha">
                  <strong>Horario:</strong> {{ noti.horario_fecha }}
                  <span *ngIf="noti.horario_hora">&nbsp;&nbsp;{{ noti.horario_hora }}</span>
                </p>

                <p class="detalle-noti" *ngIf="noti.timbre_fecha">
                  <strong>Timbre:</strong> {{ noti.timbre_fecha }}
                  <span *ngIf="noti.timbre_hora">&nbsp;&nbsp;{{ noti.timbre_hora }}</span>
                </p>

                <p class="detalle-noti" *ngIf="noti.atraso">
                  <strong>Atraso:</strong> {{ noti.atraso }}&nbsp;minutos
                </p>

                <p class="detalle-noti" *ngIf="noti.salida">
                  <strong>Salida anticipada:</strong> {{ noti.salida }}
                </p>

              </ng-container>

              <p class="detalle-noti">
                <strong>Fecha:</strong> {{ noti.fecha_ }}
                <strong>&nbsp;&nbsp;Hora:</strong> {{ noti.hora_ }}
              </p>

            </ion-label>
          </ion-item>

        </ion-card>

      </ng-container>

    </ng-template>

    <ng-template #showSkeletor>
      <ion-card class="card-sin-notificaciones">
        <ion-label>
          <h4>Sin Conexión</h4>
        </ion-label>
      </ion-card>
    </ng-template>

  </div>

  <div class="footer-notificaciones-fijo">
    <button type="button" class="btn-ver-todas" (click)="abrirNotificaciones()">
      Mostrar todas las notificaciones
    </button>
  </div>

</div>