<ion-content>
  <h6 style="text-align: center; font-size: 90%;">
    <ion-icon name="notifications-outline" style="margin-left: 1%; margin-right: 2%;"></ion-icon>
    Notificaciones <b *ngIf="countNoti != 0"
      style="text-align: center; font-size: 80%; color: rgb(39, 224, 36); margin-left: 3%"> {{countNoti}}</b>
  </h6>

  <ng-container *ngIf="loading; then showSkeletor else showList"></ng-container>

  <ng-template #showList>
    <ion-card *ngIf="countNoti == 0" style="margin-top: 6%; margin-bottom: -5%; padding: 5%;">
      <ion-label>
        <h4 style="text-align: center; font-size: 90%;">No tiene nuevas notificaciones</h4>
      </ion-label>
    </ion-card>

    <ng-container *ngFor="let noti of notificacionesAll">

      <!-- COMUNICADO (tipo 6) -->
      <ion-card *ngIf="noti.tipo === 6" (click)="AbrirNoti(noti)"
        [style.background]="noti.visto ? 'rgb(226,226,226)' : 'rgb(245, 202, 252)'">
        <ion-item lines="none" style="--background: transparent;">
          <ion-label>
            <p><ion-icon name="mail-outline"
                style="color: rgb(38, 13, 230); font-size: 18px; margin-right: 5px;"></ion-icon><strong>COMUNICADO</strong>
            </p>
            <p><strong>Enviado por:</strong> {{ noti.empleado }}</p>
            <p><strong>Notificación:</strong> <em>{{ noti.descripcion }}</em></p>
            <p><strong>Fecha:</strong> {{ noti.fecha_ }} &nbsp;&nbsp;<strong>Hora:</strong> {{ noti.hora_ }}</p>
          </ion-label>
        </ion-item>
      </ion-card>

      <!-- DESCRIPCIONES CON COLOR ROJO -->
      <ion-card *ngIf="!noti.visto && (
        noti.descripcion === 'Te falta timbre de entrada' ||
        noti.descripcion === 'Te falta timbre de salida' ||
        noti.descripcion === 'Salio antes al almuerzo' ||
        noti.descripcion === 'Se tomo mucho tiempo de almuerzo')" (click)="AbrirNoti(noti)"
        style="background: rgb(201,79,78); margin-bottom: 8px;">
        <ion-item lines="none" style="--background: transparent;">
          <ion-label>
            <p><strong>{{ noti.empleado }}</strong></p>
            <p><strong>{{ noti.descripcion }}</strong></p>
            <p><strong>Fecha:</strong> {{ noti.fecha_ }} &nbsp;&nbsp;<strong>Hora:</strong> {{ noti.hora_ }}</p>
          </ion-label>
        </ion-item>
      </ion-card>

    </ng-container>
  </ng-template>

  <ng-template #showSkeletor>
    <ion-card style="margin-top: 6%; margin-bottom: 3%; padding: 5%;">
      <ion-label>
        <h4 style="text-align: center; font-size: 90%;"> Sin Conexion </h4>
      </ion-label>
    </ion-card>
  </ng-template>

  <ion-item (click)="abrirNotificaciones()"
    style="background-color: rgb(20, 21, 21); font-size: 70%; align-items: center; margin-top: 2%;">
    <p style="margin: auto;"> Mostrar todas las notificaciones </p>
  </ion-item>
</ion-content>