ion-label {
    white-space: pre-line !important;
}

ion-card p {
  color: #1a1a1a !important;   
}

ion-card p strong {
  color: #111 !important;      
}

ion-card p em {
  color: #333 !important;     
}
