ion-grid {
  margin: 1% 2% 0% 2%;
}

ion-button {
  margin: 1%;
  height: 110px;
  border-radius: 10%;
}

ion-icon {
  text-align: center;
  font-size: 25px;
  margin: 8px 0px;
  color: rgb(226, 226, 226);
}

ion-text {
  font-size: 80%;
}

.tamanoImagen {
  width: 62%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Imagen {
  padding: 3%;
  margin: 5%;
  border-radius: 2%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}