<ion-header>
  <div class="header-logo">
    <img class="center" src="../../../assets/images/C_FTLOGORV.png" />
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo-contenedor">
    <h5>
      <ion-icon name="reader-outline"></ion-icon>
      Permisos
    </h5>
    <p>Seleccione una opción</p>
  </div>

  <div class="opciones-contenedor">
    <ion-card class="opcion-card" button="true" (click)="irSolicitarPermiso()">
      <ion-card-content>
        <div class="opcion-icono">
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        <div class="opcion-texto">
          <h2>Solicitar permiso</h2>
          <p>Registrar una solicitud de permiso</p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="opcion-card" button="true" (click)="irMisSolicitudes()">
      <ion-card-content>
        <div class="opcion-icono">
          <ion-icon name="list-outline"></ion-icon>
        </div>
        <div class="opcion-texto">
          <h2>Mis solicitudes</h2>
          <p>Consultar, editar o eliminar solicitudes</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content> 