
<ion-content>
  <ion-app>
    <ion-content fullscreen class="ion-padding" scroll-y="false">
      <ion-slides>

        <ion-slide>
          <div class="slide">
            <ion-text color="primary">
              <h1>Control de Asistencia </h1>
            </ion-text>      
            <img src="../../../assets/images/INICIO.png"/>  
            <h2 color="primary"> <b>Bienvenido al Reloj Virtual</b> </h2>
          <h5 color="medium">Aplicación que te permite de manera sencilla y ágil el control de asistencia del equipo de trabajo.</h5>
          
          <img src="../../../assets/slide.png" class="tamano"/>
          <p color="light">Al proceder se acepta todos los  <b>términos y condiciones </b>así como nuestra <b>Política de Privacidad.</b> </p>
        </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
               <div class="masDistancia">
                <img src="../../../assets/images/shapes.svg" />  
               </div>
            
          
          <h5 color="medium">Crea un único usuario administrador de la aplicación. Si no eres administrador crea tu usuario empleado.</h5>
          
          <img src="../../../assets/slide.png" class="tamano"/>
          <p color="light">Al proceder se acepta todos los  <b>términos y condiciones </b>así como nuestra <b>Política de Privacidad.</b> </p>
        </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <ion-text color="primary">
              <h1>Vigencia de la Licencia</h1>
            </ion-text>      
            <img  src="../../../assets/CLOCK.png" class="tamanoLogo"/>  

            <h2 color="primary"> <b>Tu licencia expira el:</b> </h2>
          <h5 color="medium">{{fechaLicencia}}</h5>
          
          <ion-button fill="clear" class="masDistancia" (click)="irLogin()">SIGUIENTE<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
          <p color="light">Al proceder se acepta todos los  <b>términos y condiciones </b>así como nuestra <b>Política de Privacidad.</b> </p>
        </div>

        
        </ion-slide>

       

      </ion-slides>
    </ion-content>
  </ion-app>

  

</ion-content>
