<app-refresh-info (onRefresh)="obtenerAllAlimentacion()" [removeItem]="'noClean'"></app-refresh-info>

<ng-container *ngIf="loading; then showSkeletor else showList"></ng-container>

<ng-template #showSkeletor>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let s of skeleton">
      <ion-label>
        <h3>
          <ion-skeleton-text animated [style]="{width: s.h3 }"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated [style]="{width: s.p1 }"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated [style]="{width: s.p2 }"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-template>

<ng-template #showList>
  <app-estados (onChangeEstado)="cambioPestaniaEstados( $event )"></app-estados>

  <ion-card>
    <ion-card-content>
      <ion-card-title style="text-align: center;"> Filtrar Por Fechas</ion-card-title>
      <ion-grid style="margin-top: -2%;" mode="md">
          <ion-row>
            <ion-col size="6">
              <ion-item style="border-radius: 5%;" class="item_fondo" id="Alimentacion_fechaInicial" fill="solid">
                  <ion-label position="floating">Fecha inicial</ion-label>
                  <ion-input readonly="true" name="finicio" [ngModel]="fechaIn"></ion-input>
                  <ion-modal trigger="Alimentacion_fechaInicial" class="inputDateFecha">
                    <ng-template>
                      <ion-content>
                        <ion-datetime
                          #datetimeInicio 
                          presentation="date" 
                          [showDefaultButtons]="false" 
                          [value]="fechaInicio"
                          name="finicio" 
                          mode="md" 
                          (ionChange)="changeFechaInicio($event)" 
                          min="1990-01-01" 
                          max="2050-12-31"
                          color="success">
                        </ion-datetime>
                        <div style="width: 95%;">
                          <ion-label style="float:right; margin: 2%; font-size: medium;" color="success" (click)="datetimeInicio.cancel(true)">Cancelar</ion-label>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
              </ion-item>
            </ion-col>
      
            <ion-col size="6">
              <ion-item style="border-radius: 5%;" class="item_fondo" id="Alimentacion_fechaFinal" fill="solid">
                <ion-label position="floating" >Fecha final</ion-label>
                <ion-input readonly="true" name="ffinal" [ngModel]="fechaFi"></ion-input>
                <ion-modal trigger="Alimentacion_fechaFinal" *ngIf="fechaIn != ''" class="inputDateFecha">
                  <ng-template>
                    <p style="margin: auto; padding: 4%;" *ngIf="fechaIn == ''">Ingrese la fecha de Inicio</p>
                    <ion-content>
                      <ion-datetime 
                        #datetimeFinal 
                        presentation="date"
                        [showDefaultButtons]="false"
                        [value]="fechaFinal"
                        name="ffinal" 
                        mode="md" 
                        (ionChange)="changeFechaFinal($event)" 
                        [min]="fechaIn" 
                        max="2050-12-31">
                      </ion-datetime>
                      <div style="width: 95%;">
                        <ion-label style="float:right; margin: 2%; font-size: medium;" color="primary" (click)="datetimeFinal.cancel(true)">Cancelar</ion-label>
                      </div>
                    </ion-content>
                  </ng-template>
                </ion-modal>
                <ion-popover *ngIf="fechaIn == ''" trigger="Alimentacion_fechaFinal">
                  <ion-content>
                    <ng-template>
                      <p style="margin: auto; padding: 4%;" >Ingrese la fecha de Inicio</p>
                    </ng-template>
                  </ion-content>
                </ion-popover>
              </ion-item>
            </ion-col>
          </ion-row>
      </ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button color="acua" shape="round" expand="full" (click)="BuscarByFecha()" [disabled]="fechaInicio === '' || fechaFinal === '' ">
           <ion-icon color="light" name="search-outline" style="margin-right: 3%;"></ion-icon>
            <ion-label style="font-size: 72%;">BUSCAR</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="theme" shape="round" expand="full" (click)="obtenerAllAlimentacion()">
            <ion-icon color="light" name="list-outline" style="margin-right: 3%;"></ion-icon>
            <ion-label style="font-size: 72%;">MOSTRAR TODOS</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!-- PENDIENTES -->
  <ion-list *ngIf="pestaniaEstados === 'pendientes' " style="background-color: transparent;">
    <app-aprobacion-alimento-multiple *ngIf="alimentacion_pendientes.length != 0" (onArrCheck)="allCheckPendientes( $event )"
      (onChecked)="ChangeAprobacionMultiple( $event )" [alimentacion]="alimentacion_pendientes"
      (onRefreshOnInit)="ngOnInit()">
    </app-aprobacion-alimento-multiple>

    <ion-card *ngFor="let a of alimentacion_pendientes | paginate: { itemsPerPage: 5, currentPage: pageActual }"
      class="item-pendientes-color">
      <ng-container *ngIf="a.nempleado == username else showpendiente"></ng-container>
      <ng-template #showpendiente>
        <div style="width:100%; margin-bottom: 7%;">
          <ion-checkbox *ngIf="isChecked" [(ngModel)]="a.isChecked"></ion-checkbox>
          <item-alimentacion [alimentacion]="a"></item-alimentacion>

          <div style="font-size: 10px; margin-right: 5%; padding-bottom: 1%;" *ngIf="!isChecked">
            <!-- Eliminar registro SOLO EN PERMISOS-->
            <span style="float:right">
              <btn-delete (onDelete)="ngOnInit()" nameTable="solicita_comidas" [isButtom]="false" [idreg]="a.id"
                [userCodigo]="a.codigo" style="color: rgb(255, 123, 123); font-size: 13px;"></btn-delete>BORRAR
            </span>

            <span style="float:right;" (click)="presentModalAutorizarAlimentacion( a )">
              <ion-icon color="success" name="chevron-forward-circle-outline" style="font-size: 13px;"></ion-icon>
              &nbsp;APROBAR &nbsp;&nbsp;&nbsp;
            </span>
          </div>
        </div>
      </ng-template>
    </ion-card>

    <ion-card *ngIf="alimentacion_pendientes.length == 0" style="margin-top: 1%; margin-bottom: 3%; padding: 5%;">
      <ion-label >
        <h4 style="text-align: center; font-size: 95%;"> No tiene Solicitudes de Alimentacion para Aprobar </h4>
          <div style="text-align: center; margin-top: 10%;">
              <img class="tamanoImagen" src="../../../assets/images/Sin_internet.svg"/>
              <br>
          </div>
      </ion-label>
    </ion-card>

    <br>
  </ion-list>

  <!-- AUTORIZADOS -->
  <ion-list *ngIf="pestaniaEstados === 'autorizados' " style="background-color: transparent;">
    <ion-card *ngFor="let a of alimentacion_autorizado | paginate: { itemsPerPage: 5, currentPage: pageActual }"
      class="item-autorizados-color">
      <ng-container *ngIf="a.nempleado == username else showautorizado"></ng-container>
      <ng-template #showautorizado>
        <div style="width:100%; margin-bottom: 7%;">
          <item-alimentacion [alimentacion]="a"></item-alimentacion>

          <div style="font-size: 10px; margin-right: 5%; padding-bottom: 1%;">
            <!-- Eliminar registro SOLO EN PERMISOS-->
            <span style="float:right">
              <btn-delete (onDelete)="ngOnInit()" nameTable="solicita_comidas" [isButtom]="false" [idreg]="a.id"
                [userCodigo]="a.codigo" style="color: rgb(255, 123, 123); font-size: 13px;"></btn-delete>BORRAR
            </span>
          </div>
        </div>
      </ng-template>
    </ion-card>

    <ion-card *ngIf="alimentacion_autorizado.length == 0" style="margin-top: 1%; margin-bottom: 3%; padding: 5%;">
      <ion-label >
        <h4 style="text-align: center; font-size: 95%;"> No tiene Solicitudes de Alimentacion Autorizadas </h4>
          <div style="text-align: center; margin-top: 10%;">
              <img class="tamanoImagen" src="../../../assets/images/Sin_internet.svg"/>
              <br>
          </div>
      </ion-label>
    </ion-card>

  </ion-list>

  <!-- NEGADOS -->
  <ion-list *ngIf="pestaniaEstados === 'negados' " style="background-color: transparent;">
    <ion-card *ngFor="let a of alimentacion_negado | paginate: { itemsPerPage: 5, currentPage: pageActual }"
      class="item-negados-color">
      <ng-container *ngIf="a.nempleado == username else shownegados"></ng-container>
      <ng-template #shownegados>
        <div style="width:100%; margin-bottom: 7%;">
          <item-alimentacion [alimentacion]="a"></item-alimentacion>
          <div style="font-size: 10px; margin-right: 5%; padding-bottom: 1%;">
            <!-- Eliminar registro SOLO EN PERMISOS-->
            <span style="float:right">
              <btn-delete (onDelete)="ngOnInit()" nameTable="solicita_comidas" [isButtom]="false" [idreg]="a.id"
                [userCodigo]="a.codigo" style="color: rgb(255, 123, 123); font-size: 13px;"></btn-delete>BORRAR
            </span>
          </div>
        </div>
      </ng-template>
    </ion-card>

    <ion-card *ngIf="alimentacion_negado.length == 0" style="margin-top: 1%; margin-bottom: 3%; padding: 5%;">
      <ion-label >
        <h4 style="text-align: center; font-size: 95%;"> No tiene Solicitudes de Alimentacion Negadas </h4>
          <div style="text-align: center; margin-top: 10%;">
              <img class="tamanoImagen" src="../../../assets/images/Sin_internet.svg"/>
              <br>
          </div>
      </ion-label>
    </ion-card>

  </ion-list>

  <!--Configuracion del Pagination - ngxPaginationModulo-->
  <ion-item style="font-size: 80%; margin: 1% 0% 1% 0%;" [hidden]="Ver">
    <pagination-controls 
        class="paginacion" 
        (pageChange)="pageActual = $event" 
        [maxSize] = maxSize
        [directionLinks] = directionLinks
        [responsive] = responsive 
        [autoHide]="autoHide"
        [previousLabel]="labels.previousLabel"
        [nextLabel]="labels.nextLabel"
        [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
        [screenReaderPageLabel]="labels.screenReaderPageLabel"
        [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel">
    </pagination-controls>
  </ion-item>
  
</ng-template>