<ion-header class="comunicados-header">
  <div class="header-logo">
    <div class="logo-card">
      <img
        class="logo-comunicados"
        src="../../../assets/images/ISOLOGO.png"
        alt="AQHora" />
    </div>
  </div>
</ion-header>

<ion-content *ngIf="isConnected && serverConnected" class="comunicados-content">

  <div class="titulo-contenedor">
    <h3>
      <ion-icon name="megaphone-outline"></ion-icon>
      Comunicados
    </h3>
    <p>Complete la información para enviar un comunicado.</p>
  </div>

  <form (submit)="EnviarComunicado()" mode="md">
    <ion-card class="form-card">
      <ion-card-content>

        <ion-item class="input-item">
          <ion-label position="floating" mode="md" class="is-required">Asunto</ion-label>
          <ion-input type="text" mode="md" [(ngModel)]="noti.asunto" name="asunto_" class="form-control" minlength="3"
            maxlength="45">
          </ion-input>
        </ion-item>

        <ion-item class="input-item textarea-item">
          <ion-label position="floating" mode="md" class="is-required">Mensaje</ion-label>
          <ion-textarea name="mensaje_" [(ngModel)]="noti.mensaje" rows="7" cols="20" mode="md" minlength="3"
            maxlength="255" (ionChange)="textareaMaxLengthValidation()">
          </ion-textarea>
        </ion-item>

        <div class="contador-mensaje">
          {{ noti.mensaje?.length || 0 }}/255
        </div>

        <ion-button type="submit" mode="md" shape="round" expand="block" class="btn-siguiente">
          <ion-icon name="arrow-forward-outline" slot="start"></ion-icon>
          Siguiente
        </ion-button>

      </ion-card-content>
    </ion-card>
  </form>

</ion-content>

<ion-content *ngIf="!isConnected || !serverConnected" class="sin-conexion-content">
  <app-refresh-info (onRefresh)="ngOnInit()" removeItem="noClean"></app-refresh-info>

  <div class="offline-card">
    <div class="offline-icon">
      <ion-icon name="cloud-offline-outline"></ion-icon>
    </div>

    <h3>Comunicados</h3>

    <p>
      En esta vista puede enviar comunicados.
    </p>

    <p *ngIf="!isConnected">
      Se podrán visualizar cuando tenga conexión a internet.
    </p>

    <p *ngIf="!serverConnected">
      Se podrán visualizar cuando tenga conexión al servidor.
    </p>
  </div>

  <div class="Imagen">
    <span class="center1">
      <div class="logo-contenedor">
        <img src="../../../assets/images/ISOLOGO.png">
      </div>

      <ion-label mode="md" color="medium">
        <h1><b>Reloj Virtual</b></h1>
      </ion-label>
    </span>

    <img class="offline-img" src="../../../assets/images/lost_timee.svg" />
  </div>

  <div class="offline-message">
    <ion-text *ngIf="!isConnected">
      No tiene conexión a internet
    </ion-text>

    <ion-text *ngIf="!serverConnected">
      No tiene conexión al servidor
    </ion-text>
  </div>
</ion-content>