ion-content {
    text-align: center;
}

.formComini{
    margin: 8% 4% 2% 4%;
    padding: 1%;
    border-radius: 8px;
    
}

ion-item{
    border-radius: 8px;
    margin-bottom: 3%;

}

ion-text{
    text-align: center;
}

h3{
    margin-top: 10%;
}

.center{
    display: block;
    margin: auto;
}