<br><br><br>
<ion-content>
  <ion-text mode="ios" color="dark" style="text-align: center;">
    <ion-button color="primary" [routerLink]="['/adminpage/reportes']" expand="full">
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      <ion-label style="font-size: 20px;">REPORTE DE SOLICITUDES</ion-label>
    </ion-button>
  </ion-text>

  <br>
  <ion-grid style="margin-top: -2%;" mode="md">
    <ion-row>
      <ion-col size="6">
        <ion-item style="border-radius: 5%;" class="item_fondo" id="ReporteSolicitudes_fechaInicial" fill="solid">
          <ion-label position="floating">Fecha inicial</ion-label>
          <ion-input readonly="true" name="finicio" [ngModel]="fechaIn"></ion-input>
          <ion-popover trigger="ReporteSolicitudes_fechaInicial">
            <ng-template>
              <ion-datetime 
                presentation="date" 
                [showDefaultButtons]="true"
                  doneText="OK"
                  cancelText="Cancelar" 
                [value]="fechaInicio"
                name="finicio" 
                mode="md" 
                (ionChange)="changeFechaInicio($event)" 
                min="1990-01-01" 
                max="2050-12-31"
                color="success">
              </ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-col>
      
      <ion-col size="6">
        <ion-item style="border-radius: 5%;" class="item_fondo" id="ReporteSolicitudes_fechaFinal" fill="solid">
          <ion-label position="floating" >Fecha final</ion-label>
          <ion-input readonly="true" name="ffinal" [ngModel]="fechaFi"></ion-input>
          <ion-popover trigger="ReporteSolicitudes_fechaFinal">
            <ng-template>
              <p style="margin: auto; padding: 4%;" *ngIf="fechaIn == ''">Ingrese la fecha de Inicio</p>
              <ion-datetime *ngIf="fechaIn != ''"
                presentation="date"
                [showDefaultButtons]="true"
                  doneText="OK"
                  cancelText="Cancelar" 
                [value]="fechaFinal"
                name="ffinal" 
                mode="md" 
                (ionChange)="changeFechaFinal($event)" 
                [min]="fechaIn" 
                max="2050-12-31">
              </ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-col>
     </ion-row>
  </ion-grid>

  <app-lista-empleados [open]="presentModal"></app-lista-empleados>

</ion-content>