<ion-tabs>
  <ion-tab-bar slot="bottom" ng-hide="$root.hideTabs">
    <ion-tab-button tab="bienvenido" (click)="mostrarbar()">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="informacion" (click)="mostrarbartextoOscuro()">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Info. Usuario</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="verTimbre" (click)="mostrarbartextoOscuro()">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Ver Timbres</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>