<app-close-modal titleModal="Información de permiso"></app-close-modal>

<ion-content mode="md">

  <ion-grid mode="md">
    <ion-row>
      <ion-col size="6">
        <ion-item mode="md">
          <ion-label>
            <b> Solicitud: </b> {{ permiso.num_permiso }}
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item mode="md">
          <ion-label *ngIf="permiso.estado == 1" style=" font-size: 85%;">
            <b> Estado: </b> <b style="font-size: 95%; float:right;" class="pendiente"> Pendiente </b>
          </ion-label>
          <ion-label *ngIf="permiso.estado == 2" style=" font-size: 80%;">
            <b> Estado: </b> <b style=" font-size: 90%; float:right; margin-top: 0.8%;" class="pre_autorizado"> {{
              permiso.estado | estadoSolicitudes }} </b>
          </ion-label>
          <ion-label *ngIf="permiso.estado == 3" style=" font-size: 85%;">
            <b> Estado: </b> <b style=" font-size: 95%; float:right; margin-top: 0.5%;" class="autorizada"> {{
              permiso.estado | estadoSolicitudes }} </b>
          </ion-label>
          <ion-label *ngIf="permiso.estado == 4" style=" font-size: 85%;">
            <b> Estado: </b> <b style=" font-size: 95%; float:right; margin-top: 0.5%;" class="negado"> {{
              permiso.estado | estadoSolicitudes }} </b>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="text-align: center;">
    <ion-text style="font-size: 80%; margin:6% 0% -2% 2%; margin-top: 2%;"> Informacion
      de la Solicitud </ion-text>
  </div>

  <ion-grid mode="md">
    <ion-row>
      <ion-col size="6">
        <div class="formdiv_tiempo" >
          <ion-item class="item_fondo" mode="md">
            <ion-label>
              <b style="font-size: 85%;"> Código Personal</b><br>
              <p style="margin-top: 6%; margin-left: 4%;">{{ permiso.codigo }}</p>
            </ion-label>
          </ion-item>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="formdiv_tiempo" >
          <ion-item class="item_fondo" mode="md">
            <ion-label>
              <b style="font-size: 85%;"> Legalizado </b><br>
              <p *ngIf="permiso.legalizado == true" style="margin-top: 6%; margin-left: 4%;"> Si </p>
              <p *ngIf="permiso.legalizado == false" style="margin-top: 6%; margin-left: 4%;"> No </p>
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="formdiv" style="margin-top: -1%; margin-bottom: 3%;">
    <ion-item class="item_fondo" mode="md">
      <ion-label>
        <b style=" font-size: 85%;"> Tipo de permiso </b> <br>
        <p style="margin-top: 2%; margin-left: 4%;">
          {{ permiso.ntipopermiso }}
        </p>
      </ion-label>
    </ion-item>
  </div>

  <ion-text class="text_info"> Informacion Fecha </ion-text>
  <div class="formdiv">
    <ion-item class="item_fondo" mode="md">
      <ion-label>
        <b style=" font-size: 85%;"> Fecha Creacion de Solicitud </b> <br>
        <p style="margin-top: 2%; margin-left: 4%;">
          {{ permiso.fec_creacion_ }}
        </p>
      </ion-label>
    </ion-item>
  </div>

  <div class="formdiv" style="margin-top: 2%;">
    <ion-item class="item_fondo" mode="md">
      <ion-label>
        <b style="font-size: 85%;"> Desde </b> <br>
        <p style="margin-top: 2%; margin-left: 4%;"> {{ permiso.fec_inicio_ }} </p>
      </ion-label>
    </ion-item>
  </div>

  <div class="formdiv" style="margin-top: 2%;">
    <ion-item class="item_fondo" mode="md">
      <ion-label>
        <b style="font-size: 85%;"> Hasta </b> <br>
        <p style="margin-top: 2%; margin-left: 4%;">{{ permiso.fec_final_ }}</p>
      </ion-label>
    </ion-item>
  </div>

  <ion-grid style="margin-top: -2%;" mode="md">
    <ion-row>
      <ion-col size="6">
        <div class="formdiv_tiempo">
          <ion-item class="item_fondo" mode="md">
            <ion-label>
              <b style="font-size: 85%;"> Hora Inicio </b><br>
              <p style="margin-top: 3%; margin-left: 4%;">{{ permiso.hora_salida_ }}</p>
            </ion-label>
          </ion-item>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="formdiv_tiempo">
          <ion-item class="item_fondo" mode="md">
            <ion-label>
              <b style="font-size: 85%;"> Hora Final </b><br>
              <p style="margin-top: 3%; margin-left: 4%;"> {{ permiso.hora_ingreso_ }}</p>
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text class="text_info"> Informacion Tiempo Calculado </ion-text>
  <ion-grid style="margin-top: -2%;" mode="md">
    <ion-row>
      <ion-col size="6">
        <div class="formdiv_tiempo">
          <ion-item class="item_fondo" mode="md">
            <ion-label>
              <b style="font-size: 85%;"> Dias Permiso  </b> <br>
              <p style="margin-top: 3%; margin-left: 4%;"> {{ permiso.dia }} dias</p>
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
  
      <ion-col size="6">
        <div class="formdiv_tiempo">
          <ion-item class="item_fondo" mode="md">
            <ion-label *ngIf="permiso.dia === 0 && permiso.hora_numero !== '00:00:00' ">
              <b style="font-size: 85%;"> Horas Permiso </b><br>
              <p style="margin-top: 3%; margin-left: 4%;"> {{ permiso.hora_numero }} horas</p>
            </ion-label>

            <ion-label *ngIf="permiso.dia !== 0 && permiso.hora_numero === '00:00:00' ">
              <b style="font-size: 85%;"> Dias Libres </b><br>
              <p style="margin-top: 3%; margin-left: 4%;"> {{ permiso.dia_libre }} dias</p>
            </ion-label>

            <ion-label *ngIf="permiso.dia !== 0 && permiso.hora_numero !== '00:00:00' ">
              <b style="font-size: 85%;"> Dias Libres </b><br>
              <p style="margin-top: 3%; margin-left: 4%;"> {{ permiso.dia_libre }} dias</p>
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="permiso.dia !== 0 && permiso.hora_numero !== '00:00:00' " class="formdiv" style="margin-top: -1%; margin-bottom: 3%;">
    <ion-item class="item_fondo" mode="md">
      <ion-label>
        <b style="font-size: 85%;"> Horas Permiso </b><br>
        <p style="margin-top: 1%; margin-left: 4%;"> {{ permiso.hora_numero }} horas</p>
      </ion-label>
    </ion-item>
  </div>

  <ion-text class="text_info"> Observación de la Solicitud </ion-text>
  <div class="formdiv">
    <ion-item class="item_fondo" style="font-size: 85%;" mode="md">
      <ion-text style="margin-top:2%; width: 100%;" >
        <b> Observación </b>
        <br>
          <p style="margin-top: 2%; margin-left: 4%;">
            {{ permiso.descripcion }}
          </p>
      </ion-text>
    </ion-item>
  </div>

  <ion-text class="text_info"> Documento Respaldo </ion-text>
  <div class="formdiv">
    <ion-item class="item_fondo" style="font-size: 85%;" mode="md">
      <ion-label>
        <b> Ver Certificado de la Solicitud </b><br>
        <a *ngIf="permiso.docu_nombre != null"
          href="{{hipervinculo}}/empleadoPermiso/documentos/{{permiso.documento}}" target="_black"
          style="text-decoration:none;">
          <ion-label color="theme" style="font-size: 90%; margin-top: 3%; margin-left: 2%;">
            {{permiso.docu_nombre}}</ion-label>
        </a>

        <ion-label *ngIf="permiso.docu_nombre == null" color="warning"
          style="font-size: 90%; margin-top: 3%; margin-left: 2%;">
          No ha subido ningun documento
        </ion-label>
      </ion-label>
    </ion-item>
  </div>
  <br>
</ion-content>