<app-close-modal titleModal="Solicita Vacación" [formRegistro]="formRegistro" [resetF]="true"></app-close-modal>

<!-- Content con mode = android -->
<ion-content mode="md">
  <app-refresh-info (onRefresh)="ngOnInit()" removeItem="cg_feriado"></app-refresh-info>
  <form #formRegistro="ngForm">

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-icon slot="start" name="document-text-outline"></ion-icon>
            <ion-label>
              <b> Solicitud </b>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label *ngIf="reg.estado == 1" style=" font-size: 85%;">
              <b> Estado: </b> <b style="font-size: 95%; float:right;" class="pendiente"> Pendiente </b>
            </ion-label>
            <ion-label *ngIf="reg.estado != 1" style=" font-size: 85%;">
              <b> Estado: </b> <b style=" font-size: 95%;">{{ reg.estado | estadoSolicitudes }}</b>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div style="text-align: center;">
      <ion-text class="is-required" style="font-size: 70%; margin:6% 0% -2% 2%; margin-top: 2%;">OBLIGATORIO LLENAR LOS CAMPOS CON </ion-text>
    </div>

    <ion-text class="text_info">Ingrese los datos</ion-text>
    <!-- FECHA INICIO Y FINAL -->
    <ion-grid style="margin-top: -2%;">
      <ion-row>
        <ion-col size="6" >
          <div class="formdiv_tiempo">
            <ion-item class="item_fondo" id="open-regisVacaInicio" mode="md">
              <ion-label class="is-required" position="floating" >Día Inicio</ion-label>
              <ion-input readonly="true" name="fec_inicio" [ngModel]="dia_inicio" mode="md"></ion-input>
            </ion-item>
            <ion-popover trigger="open-regisVacaInicio">
              <ng-template>
                <ion-datetime 
                  presentation="date"
                  [showDefaultButtons]="true" 
                    doneText="OK"
                    cancelText="Cancelar" 
                  name="fec_inicio" 
                  color="success" 
                  mode="md" 
                  min="1990-01-01" max="2050-12-31" 
                  (ionChange)="ChangeDiaInicio($event)" 
                  [value]="reg.fec_inicio" 
                  required></ion-datetime>
              </ng-template>
            </ion-popover>
          </div>
        </ion-col>
        
        <ion-col size="6">
          <div class="formdiv_tiempo">
            <ion-item  class="item_fondo" id="open-regisVacaFinal" mode="md">
              <ion-label class="is-required" position="floating" >Día Final</ion-label>
              <ion-input readonly="true" name="fec_final" [ngModel]="dia_fianl" mode="md"></ion-input>
            </ion-item>
            <ion-popover trigger="open-regisVacaFinal">
              <ng-template>
                <p style="margin: auto; padding: 4%;" *ngIf="(dia_inicio == '') && (reg.fec_inicio == null)">Ingrese la fecha de Inicio</p>
                <ion-datetime *ngIf="dia_inicio != ''"
                  [disabled] = "disabled_dia_fianl"
                  presentation="date"
                  [showDefaultButtons]="true" 
                    doneText="OK"
                    cancelText="Cancelar" 
                  name="fec_final" 
                  mode="md" 
                  [min]="dia_inicio" max="2050-12-31" 
                  (ionChange)="ChangeDiaFinal($event)" 
                  [value]="dia_fianl" 
                  required></ion-datetime>
              </ng-template>
            </ion-popover>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- FECHA INGRESA -->
    <div class="formdiv" style="margin-top:-0.5%;">
      <ion-item  class="item_fondo" id="open-regisVacaRegreso" mode="md">
        <ion-label class="is-required" position="floating" >Fecha ingreso</ion-label>
        <ion-input readonly="true" name="fec_ingreso" [ngModel]="dia_ingreso" mode="md"></ion-input>
      </ion-item>
      <ion-popover trigger="open-regisVacaRegreso">
        <ng-template>
          <p style="margin: auto; padding: 4%;" *ngIf="(dia_fianl == '') && (reg.fec_final == null)">Ingrese la fecha Final</p>
          <ion-datetime *ngIf="dia_fianl != ''"
          [disabled] = "disabled_dia_ingreso"
            presentation="date"
            [showDefaultButtons]="true" 
              doneText="OK"
              cancelText="Cancelar" 
            name="fec_ingreso" 
            mode="md" 
            color="warning" 
            [min]="dia_fianl" max="2050-12-31" 
            (ionChange)="ChangeDiaIngreso($event)" 
            [value]="dia_ingreso" 
            required></ion-datetime>
        </ng-template>
      </ion-popover>
    </div>
       
     <!-- CALCULO DE DIAS DE VACACION -->
     <ion-button [disabled]="(btnOculto == true) || (validar.vacio(reg.fec_inicio) ||  validar.vacio(reg.fec_final) || validar.vacio(reg.fec_ingreso))"  
      shape="round" expand="block" color="tertiary" (click)="mostrarCalculos()" style="margin: 4% 3% 2% 3%;">
      <ion-icon slot="start" name="calculator-outline"></ion-icon>
      Calcular días.
    </ion-button>

    <!-- CAMPOS CALCULOS DE DIAS SEGUN FECHAS -->
    <ion-text class="text_info">Resultado del calculo</ion-text>
    <ion-grid style="margin-top: -2%;">
      <ion-row>
        <ion-col size="6">
          <div class="formdiv_tiempo">
            <ion-item class="item_fondo">
              <ion-label class="is-required" position="floating">
                <b style="font-size: 85%;">Días laborables</b></ion-label>
              <ion-input name="dia" [ngModel]="reg.dia_laborable" mode="ios" disabled="true" maxlengt="10" required></ion-input>
            </ion-item>
          </div>
        </ion-col>

        <ion-col size="6">
          <div class="formdiv_tiempo">
            <ion-item class="item_fondo">
              <ion-label class="is-required" position="floating">
                <b style="font-size: 85%;">Días Libre y Feriado</b></ion-label>
              <ion-input name="dia_libre" [ngModel]="reg.dia_libre" mode="ios" maxlengt="10" disabled="true" required></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="(reg.dia_libre != null) && (reg.dia_laborable != null)">
      <ion-text class="text_info"> Seleccione una opcion </ion-text>
      <!-- LEGALIZAR SOLICITUD DE VACACIONES -->
      <div class="formdiv">
        <ion-item class="item_fondo">
          <div>
            <ion-label style="margin: 4% 0% -4% 0%; font-size: 80%;" class="is-required"><b> Vacacion Legalizada </b></ion-label><br>
            <ion-radio-group  name="legalizado" *ngFor="let r of radioButton" [(ngModel)]="reg.legalizado" [value]="reg.legalizado" required>
              <ion-item  class="radio-buttoms">
                <ion-label> {{ r.label }} </ion-label>
                <ion-radio slot="end" mode="md" [value]="r.value" style="margin-left: 2%;"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
        </ion-item>
      </div>
    </div>

    <br>
      <div style="margin: 0% 3% 0% 3%;" [hidden] = "btnOcultoguardar">
        <!-- BOTON GUARDAR DESDE OTRO COMPONENTE -->
      <btn-save (onSave)="SaveRegister()" [loadingBtn]="loadingBtn" [formRegistro]="formRegistro"></btn-save>
    </div>
  </form>
  <br>
</ion-content>