<app-refresh-info (onRefresh)="obtenerAllPermisos()" [removeItem]="'noClean'"></app-refresh-info>
<ng-container *ngIf="loading; then showSkeletor else showList"></ng-container>

<ng-template #showList>
  <app-pestanias-estados (onChangeEstado)="cambioPestaniaEstados($event)"></app-pestanias-estados>

  <!-- filtro de timbres por fechas -->
  <ion-card>
    <ion-card-content>
      <ion-card-title style="text-align: center;"> Filtrar Por Fechas</ion-card-title>
      <ion-grid mode="md">
        <ion-row>
          <ion-col size="6">
            <div class="formdiv_tiempo" style="margin-left: -7%;">
              <ion-item class="item_fondo" id="permiso_fechaInicio" mode="md">
                <ion-label position="floating">Fecha inicial</ion-label>
                <ion-input readonly="true" name="finicio" [ngModel]="fechaIn"></ion-input>
              </ion-item>
              <ion-modal trigger="permiso_fechaInicio" class="inputDateFecha">
                <ng-template>
                  <ion-content>
                    <ion-datetime
                      #datetimeInicio 
                      presentation="date" 
                      [showDefaultButtons]="false"
                      [value]="fechaInicio"
                      name="finicio" 
                      mode="md" 
                      (ionChange)="changeFechaInicio($event)" 
                      min="1990-01-01" 
                      max="2050-12-31"
                      color="success">
                    </ion-datetime>
                    <div style="width: 95%">
                      <ion-label style="float: right; margin: 2%; font-size: medium;" color="success" (click) = "datetimeInicio.cancel(true)">Cancelar</ion-label>
                    </div>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </div>
          </ion-col>
    
          <ion-col size="6">
            <div class="formdiv_tiempo" style="margin-right: -7%;">
              <ion-item class="item_fondo" id="permiso_fechaFinal" mode="md">
                <ion-label position="floating" >Fecha final</ion-label>
                <ion-input readonly="true" name="ffinal" [ngModel]="fechaFi"></ion-input>
              </ion-item>
              <ion-modal trigger="permiso_fechaFinal" class="inputDateFecha" *ngIf="fechaIn != ''">
                <ng-template>
                  <ion-content>
                    <ion-datetime
                      #datetimeFinal
                      presentation="date"
                      [showDefaultButtons]="false"
                      [value]="fechaFinal"
                      name="ffinal" 
                      mode="md" 
                      (ionChange)="changeFechaFinal($event)" 
                      [min]="fechaIn" 
                      max="2050-12-31">
                    </ion-datetime>
                    <div style="width: 95%">
                      <ion-label style="float: right; margin: 2%; font-size: medium;" color="primary" (click) = "datetimeFinal.cancel(true)">Cancelar</ion-label>
                    </div>
                  </ion-content>
                </ng-template>
              </ion-modal>
              <ion-popover *ngIf="fechaIn == ''" trigger="permiso_fechaFinal">
                <ion-content>
                  <ng-template>
                    <p style="margin: auto; padding: 4%;" >Ingrese la fecha de Inicio</p>
                  </ng-template>
                </ion-content>
              </ion-popover>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-row>
        <ion-col size="6">
          <ion-button style="margin-right: 5%;" color="acua" shape="round" expand="full" (click)="BuscarByFecha()" [disabled]="fechaInicio === '' || fechaFinal === '' ">
           <ion-icon color="light" name="search-outline" style="margin-right: 4%;"></ion-icon>
            <ion-label style="font-size: 72%;">FILTRAR</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button style="margin-left: 5%;" color="theme" shape="round" expand="full" (click)="obtenerAllPermisos()">
            <ion-icon color="light" name="list-outline" style="margin-right: 4%;"></ion-icon>
            <ion-label style="font-size: 72%;">LISTAR TODOS</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!-- PENDIENTES -->
  <ion-list *ngIf="pestaniaEstados === 'pendientes'" style="background-color: transparent;">
    <app-aprobacion-multiple *ngIf="permisos_pendientes.length != 0" (onArrCheck)="allCheckPendientes( $event )"
      (onChecked)="ChangeAprobacionMultiple($event)" [permisos]="permisos_pendientes" (onRefreshOnInit)="ngOnInit()">
    </app-aprobacion-multiple>

    <ion-card *ngFor="let permiso of permisos_pendientes | paginate: { itemsPerPage: 5, currentPage: pageActual }" class="item-pendientes-color" >
      <ng-container *ngIf="permiso.nempleado == username else showpendiente"></ng-container>
      <ng-template #showpendiente>
        <div style="width:100%; margin-bottom: 7%;" >
          <ion-checkbox *ngIf="isChecked" [(ngModel)]="permiso.isChecked"></ion-checkbox>
          <item-permiso [permiso]="permiso"></item-permiso>
  
          <div style="font-size: 10px; margin-right: 5%; padding-bottom: 1%;" *ngIf="!isChecked">
            <span style="float:left; margin-left: 3%;">
              <ion-label color="dark" style="font-size: 13px;" >{{permiso.fec_creacion_}}</ion-label>
            </span>

            <!-- Eliminar registro SOLO EN PERMISOS--> 
            <span style="float:right">
              <btn-delete (onDelete)="ngOnInit()"  nameTable="permisos" [isButtom]="false" [idreg]="permiso.id" [userCodigo]="permiso.codigo" style="color: rgb(255, 123, 123); font-size: 13px;" ></btn-delete>BORRAR
            </span>
  
            <span style="float:right;" (click)="presentModalAutorizarPermiso( permiso )"> 
              <ion-icon color="success" name="chevron-forward-circle-outline" style="font-size: 13px;"></ion-icon> 
              &nbsp;APROBAR &nbsp;&nbsp;&nbsp;
            </span>
          </div>
        </div>
      </ng-template>
    </ion-card>

    <ion-card *ngIf="permisos_pendientes.length == 0" style="margin-top: 1%; margin-bottom: 3%; padding: 5%;">
      <div *ngIf="msPendiente != true" style="text-align: center;">
        <br>
        <ion-text color="primary">
          <span>Obteniendo Información Por favor Espere</span>
        </ion-text>
        <ion-progress-bar type="indeterminate" ></ion-progress-bar>
        <br>
      </div>
      <ion-label *ngIf="msPendiente == true">
        <h4 style="text-align: center; font-size: 95%;"> No tiene Solicitudes de Permisos para Aprobar </h4>
          <div style="text-align: center; margin-top: 10%;">
              <img class="tamanoImagen" src="../../../assets/images/Sin_internet.svg"/>
              <br>
          </div>
      </ion-label>
    </ion-card>

    <br>
  </ion-list>


  <!-- PRE AUTORIZADOS -->
  <ion-list *ngIf="pestaniaEstados === 'pre_autorizados' " style="background-color: transparent;">
    <app-aprobacion-multiple *ngIf="permisos_pre_autorizados.length != 0" (onArrCheck)="allCheckPreAutorizados( $event )"
      (onChecked)="ChangeAprobacionMultiple( $event )" [permisos]="permisos_pre_autorizados"
      (onRefreshOnInit)="ngOnInit()">
    </app-aprobacion-multiple>

    <ion-card *ngFor="let permiso of permisos_pre_autorizados | paginate: { itemsPerPage: 5, currentPage: pageActual }" class="item-pre_autorizados-color">
      <ng-container *ngIf="permiso.nempleado == username else showpre_autorizados"></ng-container>
      <ng-template #showpre_autorizados>
        <div style="width:100%; margin-bottom: 7%;"  *ngIf="permiso.nempleado !== username">
          <ion-checkbox *ngIf="isCheckedPre" slot="start" [(ngModel)]="permiso.isChecked"></ion-checkbox>
          <item-permiso [permiso]="permiso"></item-permiso>

          <div style="font-size: 10px; margin-right: 5%; padding-bottom: 1%;" *ngIf="!isCheckedPre">
            <span style="float:left; margin-left: 3%;">
              <ion-label color="dark" style="font-size: 13px;" >{{permiso.fec_creacion_}}</ion-label>
            </span>

            <!-- Eliminar registro SOLO EN PERMISOS--> 
            <span style="float:right">
              <btn-delete (onDelete)="ngOnInit()"  nameTable="permisos" [isButtom]="false" [idreg]="permiso.id" [userCodigo]="permiso.codigo" style="color: rgb(255, 123, 123); font-size: 13px;" ></btn-delete>BORRAR
            </span>

            <span style="float:right;" (click)="presentModalAutorizarPermiso( permiso )"> 
              <ion-icon color="success" name="chevron-forward-circle-outline" style="font-size: 13px;"></ion-icon> 
              &nbsp;APROBAR &nbsp;&nbsp;&nbsp;
            </span>
          </div>
        </div>
      </ng-template>
    </ion-card>

    <ion-card *ngIf="permisos_pre_autorizados.length == 0" style="margin-top: 1%; margin-bottom: 3%; padding: 5%;">
      <div *ngIf="msPreautorizado != true" style="text-align: center;">
        <br>
        <ion-text color="primary">
          <span>Obteniendo Información Por favor Espere</span>
        </ion-text>
        <ion-progress-bar type="indeterminate" ></ion-progress-bar>
        <br>
      </div>
      <ion-label *ngIf="msPreautorizado == true">
        <h4 style="text-align: center; font-size: 95%;"> No tiene Solicitudes de Permisos Pre-Autorizadas </h4>
          <div style="text-align: center; margin-top: 10%;">
              <img class="tamanoImagen" src="../../../assets/images/Sin_internet.svg"/>
              <br>
          </div>
      </ion-label>
    </ion-card>

    <br>
  </ion-list>

  <!-- AUTORIZADOS -->
  <ion-list *ngIf="pestaniaEstados === 'autorizados' " style="background-color: transparent;">
    <br>
    <ion-card *ngFor="let permiso of permisos_autorizado | paginate: { itemsPerPage: 5, currentPage: pageActual }" class="item-autorizados-color">
      <ng-container *ngIf="permiso.nempleado == username else showautorizados"></ng-container>
      <ng-template #showautorizados>
        <div style="width:100%; margin-bottom: 7%;"  *ngIf="permiso.nempleado !== username" >
          <item-permiso [permiso]="permiso"></item-permiso>
          <div style="font-size: 10px; margin-right: 5%; padding-bottom: 1%;">
            <span style="float:left; margin-left: 3%;">
              <ion-label color="dark" style="font-size: 13px;" >{{permiso.fec_creacion_}}</ion-label>
            </span>
            <!-- Eliminar registro SOLO EN PERMISOS--> 
            <span style="float:right">
              <btn-delete (onDelete)="ngOnInit()"  nameTable="permisos" [isButtom]="false" [idreg]="permiso.id" [userCodigo]="permiso.codigo" style="color: rgb(255, 123, 123); font-size: 13px;" ></btn-delete>BORRAR
            </span>
          </div>
        </div>
      </ng-template>
    </ion-card>

    <ion-card *ngIf="permisos_autorizado.length == 0" style="margin-top: 1%; margin-bottom: 3%; padding: 5%;">
      <div *ngIf="msAutorizado != true" style="text-align: center;">
        <br>
        <ion-text color="primary">
          <span>Obteniendo Información Por favor Espere</span>
        </ion-text>
        <ion-progress-bar type="indeterminate" ></ion-progress-bar>
        <br>
      </div>
      <ion-label *ngIf="msAutorizado == true">
        <h4 style="text-align: center; font-size: 95%;"> No tiene Solicitudes de Permisos Autorizadas </h4>
          <div style="text-align: center; margin-top: 10%;">
              <img class="tamanoImagen" src="../../../assets/images/Sin_internet.svg"/>
              <br>
          </div>
      </ion-label>
    </ion-card>

  </ion-list>

  <!-- NEGADOS -->
  <ion-list *ngIf="pestaniaEstados === 'negados' " style="background-color: transparent;">
    <br>
    <ion-card *ngFor="let permiso of permisos_negado | paginate: { itemsPerPage: 5, currentPage: pageActual }" class="item-negados-color">
      <ng-container *ngIf="permiso.nempleado == username else shownegados"></ng-container>
      <ng-template #shownegados>
        <div style="width:100%; margin-bottom: 7%;"  *ngIf="permiso.nempleado !== username">
          <item-permiso [permiso]="permiso"></item-permiso>
          <div style="font-size: 10px; margin-right: 5%; padding-bottom: 1%;">
            <span style="float:left; margin-left: 3%;">
              <ion-label color="dark" style="font-size: 13px;" >{{permiso.fec_creacion_}}</ion-label>
            </span>
            <!-- Eliminar registro SOLO EN PERMISOS--> 
            <span style="float:right">
              <btn-delete (onDelete)="ngOnInit()"  nameTable="permisos" [isButtom]="false" [idreg]="permiso.id" [userCodigo]="permiso.codigo" style="color: rgb(255, 123, 123); font-size: 13px;" ></btn-delete>BORRAR
            </span>
        </div>
      </div>
      </ng-template>
    </ion-card>

    <ion-card *ngIf="permisos_negado.length == 0" style="margin-top: 1%; margin-bottom: 3%; padding: 5%;">
      <div *ngIf="msNegado != true" style="text-align: center;">
        <br>
        <ion-text color="primary">
          <span>Obteniendo Información Por favor Espere</span>
        </ion-text>
        <ion-progress-bar type="indeterminate" ></ion-progress-bar>
        <br>
      </div>
      <ion-label *ngIf="msNegado == true">
        <h4 style="text-align: center; font-size: 95%;"> No tiene Solicitudes de Permisos Negadas </h4>
          <div style="text-align: center; margin-top: 10%;">
              <img class="tamanoImagen" src="../../../assets/images/Sin_internet.svg"/>
              <br>
          </div>
      </ion-label>
    </ion-card>

  </ion-list>

  
  <!--Configuracion del Pagination - ngxPaginationModulo-->
  <ion-item style="font-size: 70%; margin: 1% 0% 1% 0%;" [hidden] = "Ver">
    <pagination-controls class="paginacion" (pageChange)="pageActual = $event" maxSize="5" directionLinks="true"
      responsive="false" previousLabel="ante.." nextLabel="sigui.." mode="ios">
    </pagination-controls>
  </ion-item>

</ng-template>
<ng-template #showSkeletor>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let s of skeleton">
      <ion-label>
        <h3>
          <ion-skeleton-text animated [style]="{width: s.h3 }"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated [style]="{width: s.p1 }"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated [style]="{width: s.p2 }"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-template>