<ion-header class="timbres-header">
  <app-close-modal titleModal="Timbres de empleado"></app-close-modal>

  <div class="header-filtros">

    <ion-segment
      class="segmento-hora"
      color="primary"
      [(ngModel)]="verTipoTimbre"
      mode="md"
      (ionChange)="cambioHoraSC($event)">

      <ion-segment-button value="">
        <ion-label>Hora del Servidor</ion-label>
      </ion-segment-button>

      <ion-segment-button value="timbreCelular">
        <ion-label>Hora del dispositivo</ion-label>
      </ion-segment-button>

    </ion-segment>

    <ion-row>
      <ion-col size="6">
        <ion-item
          class="item_fondo"
          id="VerTimbre_fechaInicial"
          fill="solid">

          <ion-label position="floating">Fecha inicial</ion-label>
          <ion-input readonly="true" name="finicio" [ngModel]="fechaIn"></ion-input>

          <ion-modal trigger="VerTimbre_fechaInicial" class="inputDateFecha">
            <ng-template>
              <ion-content>
                <ion-datetime
                  #datetimeInicio
                  presentation="date"
                  [showDefaultButtons]="false"
                  [value]="fechaIn"
                  name="finicio"
                  mode="md"
                  (ionChange)="changeFechaInicio($event)"
                  min="1990-01-01"
                  max="2050-12-31"
                  color="success">
                </ion-datetime>

                <div style="width: 95%;">
                  <ion-label
                    style="float:right; margin: 2%; font-size: medium;"
                    color="success"
                    (click)="datetimeInicio.cancel(true)">
                    Cancelar
                  </ion-label>
                </div>
              </ion-content>
            </ng-template>
          </ion-modal>

        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item
          class="item_fondo"
          id="VerTimbre_fechaFinal"
          fill="solid">

          <ion-label position="floating">Fecha final</ion-label>
          <ion-input readonly="true" name="ffinal" [ngModel]="fechaFi"></ion-input>

          <ion-modal trigger="VerTimbre_fechaFinal" class="inputDateFecha" *ngIf="fechaIn != ''">
            <ng-template>
              <ion-content>
                <ion-datetime
                  #datetimeFinal
                  presentation="date"
                  [showDefaultButtons]="false"
                  [value]="fechaFinal"
                  name="ffinal"
                  mode="md"
                  (ionChange)="changeFechaFinal($event)"
                  [min]="fechaIn"
                  max="2050-12-31">
                </ion-datetime>

                <div style="width: 95%;">
                  <ion-label
                    style="float:right; margin: 2%; font-size: medium;"
                    color="success"
                    (click)="datetimeFinal.cancel(true)">
                    Cancelar
                  </ion-label>
                </div>
              </ion-content>
            </ng-template>
          </ion-modal>

          <ion-popover *ngIf="fechaIn == ''" trigger="VerTimbre_fechaFinal">
            <ion-content>
              <ng-template>
                <h6 style="margin: auto; padding: 4%;">Ingrese la fecha de Inicio</h6>
              </ng-template>
            </ion-content>
          </ion-popover>

        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button
          color="acua"
          shape="round"
          expand="full"
          (click)="mostrarfiltro()"
          [disabled]="btn_filtro">

          <ion-icon color="light" name="search-outline" style="margin-right: 3%;"></ion-icon>
          <ion-label>BUSCAR TIMBRES</ion-label>

        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button
          color="theme"
          shape="round"
          expand="full"
          (click)="mostrarTimbres()"
          [disabled]="btn_todos">

          <ion-icon color="light" name="list-outline" style="margin-right: 3%;"></ion-icon>
          <ion-label>MOSTRAR TODOS</ion-label>

        </ion-button>
      </ion-col>
    </ion-row>

    <div class="titulo-lista">
      <ion-text>Lista de Timbres</ion-text>
    </div>

  </div>
</ion-header>

<ng-container>

  <!-- LISTA COMPLETA -->
  <ion-content [hidden]="todos">

    <div *ngIf="cargandoTodos">
      <br>
      <ion-text color="primary">
        <span>Obteniendo timbres, por favor espere</span>
      </ion-text>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
      <br>
    </div>

    <ng-container *ngIf="!cargandoTodos">

      <ion-list *ngIf="timbresLista.length > 0">

        <ng-container
          *ngFor="let t of timbresLista | paginate: { itemsPerPage: itemsPorPagina, currentPage: pageActual }">

          <ion-item-divider
            *ngIf="t.mostrar_fecha"
            mode="md">

            <ion-label>{{ t.fecha_grupo }}</ion-label>

          </ion-item-divider>

          <ion-item>
            <div class="contenedor-accion">
              <ion-label class="textoTimbreEmpleado" color="primary">

                <div class="accion-timbre">

                  <ion-button
                    *ngIf="t.dispositivo_timbre != ''"
                    class="btn-info-timbre"
                    fill="clear"
                    size="small"
                    (click)="presentAlert(t.observacion, t.hora_timbre_diferente, t.ubicacion, t.novedades_conexion, t.conexion)">

                    <ion-icon
                      [name]="t.hora_timbre_diferente || t.conexion != true ? 'alert-circle-outline' : 'information-circle-outline'">
                    </ion-icon>

                  </ion-button>

                  <div class="accion-texto" [ngSwitch]="t.accion">
                    <span *ngSwitchCase="'PES'">Entrada o salida permiso</span>
                    <span *ngSwitchCase="'AES'">Entrada o salida almuerzo</span>
                    <span *ngSwitchCase="'EoS'">Entrada o salida jornada</span>
                    <span *ngSwitchCase="'E'">Entrada jornada</span>
                    <span *ngSwitchCase="'S'">Salida jornada</span>
                    <span *ngSwitchCase="'I/A'">Inicio alimentación</span>
                    <span *ngSwitchCase="'F/A'">Fin alimentación</span>
                    <span *ngSwitchCase="'S/P'">Inicio permiso</span>
                    <span *ngSwitchCase="'E/P'">Fin permiso</span>
                    <span *ngSwitchCase="'HA'">Timbre abierto</span>
                    <span *ngSwitchDefault>Timbre desconocido</span>
                  </div>

                </div>

              </ion-label>
            </div>

            <ion-button class="tamanoBotonDER" mode="ios" color="light">
              <div>
                Hora: <br>
                <ion-text>{{ verTipoTimbre === '' ? t.shora : t.hora }}</ion-text>
              </div>
            </ion-button>

            <ion-button
              class="ubicacionDER"
              mode="ios"
              color="light"
              shape="round"
              (click)="abrirMapa(t.latitud, t.longitud)"
              [disabled]="!t.latitud || !t.longitud">

              <div>
                <ion-icon color="primary" class="tamanoIconoEmpleado" name="location-outline"></ion-icon>
              </div>

            </ion-button>

            <ion-button
              class="ubicacionMED"
              mode="ios"
              color="light"
              shape="round"
              (click)="mostrarImagenModal(t.documento)"
              [disabled]="!t.documento">

              <div>
                <ion-icon color="primary" class="tamanoIconoEmpleado" name="image-outline"></ion-icon>
              </div>

            </ion-button>

            <ion-button
              class="ubicacionIZQ"
              mode="ios"
              color="light"
              shape="round"
              (click)="mostrarImagenModal(t.imagen)"
              [disabled]="!t.imagen">

              <div>
                <ion-icon color="primary" class="tamanoIconoEmpleado" name="happy-outline"></ion-icon>
              </div>

            </ion-button>

          </ion-item>

        </ng-container>

      </ion-list>

      <div class="paginacion-contenedor" *ngIf="mostrarPaginacionTodos()">
        <pagination-controls
          class="paginacion"
          (pageChange)="pageActual = $event"
          [maxSize]="maxSize"
          [directionLinks]="directionLinks"
          [responsive]="responsive"
          [autoHide]="autoHide"
          [previousLabel]="labels.previousLabel"
          [nextLabel]="labels.nextLabel"
          [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
          [screenReaderPageLabel]="labels.screenReaderPageLabel"
          [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel">
        </pagination-controls>
      </div>

    </ng-container>

  </ion-content>

  <!-- LISTA FILTRADA -->
  <ion-content [hidden]="filtro">

    <div *ngIf="cargandoFiltro">
      <br>
      <ion-text color="primary">
        <span>Obteniendo timbres, por favor espere</span>
      </ion-text>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
      <br>
    </div>

    <ng-container *ngIf="!cargandoFiltro">

      <ion-list *ngIf="timbresFiltroLista.length > 0">

        <ng-container
          *ngFor="let t of timbresFiltroLista | paginate: { itemsPerPage: itemsPorPagina, currentPage: pagefiltro }">

          <ion-item-divider
            *ngIf="t.mostrar_fecha"
            mode="md">

            <ion-label>{{ t.fecha_grupo }}</ion-label>

          </ion-item-divider>

          <ion-item>
            <div class="contenedor-accion">
              <ion-label class="textoTimbreEmpleado" color="primary">

                <div class="accion-timbre">

                  <ion-button
                    *ngIf="t.dispositivo_timbre != ''"
                    class="btn-info-timbre"
                    fill="clear"
                    size="small"
                    (click)="presentAlert(t.observacion, t.hora_timbre_diferente, t.ubicacion, t.novedades_conexion, t.conexion)">

                    <ion-icon
                      [name]="t.hora_timbre_diferente || t.conexion != true ? 'alert-circle-outline' : 'information-circle-outline'">
                    </ion-icon>

                  </ion-button>

                  <div class="accion-texto" [ngSwitch]="t.accion">
                    <span *ngSwitchCase="'PES'">Entrada o salida permiso</span>
                    <span *ngSwitchCase="'AES'">Entrada o salida almuerzo</span>
                    <span *ngSwitchCase="'EoS'">Entrada o salida jornada</span>
                    <span *ngSwitchCase="'E'">Entrada jornada</span>
                    <span *ngSwitchCase="'S'">Salida jornada</span>
                    <span *ngSwitchCase="'I/A'">Inicio alimentación</span>
                    <span *ngSwitchCase="'F/A'">Fin alimentación</span>
                    <span *ngSwitchCase="'S/P'">Inicio permiso</span>
                    <span *ngSwitchCase="'E/P'">Fin permiso</span>
                    <span *ngSwitchCase="'HA'">Timbre abierto</span>
                    <span *ngSwitchDefault>Timbre desconocido</span>
                  </div>

                </div>

              </ion-label>
            </div>

            <ion-button class="tamanoBotonDER" mode="ios" color="light">
              <div>
                Hora: <br>
                <ion-text>{{ verTipoTimbre === '' ? t.shora : t.hora }}</ion-text>
              </div>
            </ion-button>

            <ion-button
              class="ubicacionDER"
              mode="ios"
              color="light"
              shape="round"
              (click)="abrirMapa(t.latitud, t.longitud)"
              [disabled]="!t.latitud || !t.longitud">

              <div>
                <ion-icon color="primary" class="tamanoIconoEmpleado" name="location-outline"></ion-icon>
              </div>

            </ion-button>

            <ion-button
              class="ubicacionMED"
              mode="ios"
              color="light"
              shape="round"
              (click)="mostrarImagenModal(t.documento)"
              [disabled]="!t.documento">

              <div>
                <ion-icon color="primary" class="tamanoIconoEmpleado" name="image-outline"></ion-icon>
              </div>

            </ion-button>

            <ion-button
              class="ubicacionIZQ"
              mode="ios"
              color="light"
              shape="round"
              (click)="mostrarImagenModal(t.imagen)"
              [disabled]="!t.imagen">

              <div>
                <ion-icon color="primary" class="tamanoIconoEmpleado" name="happy-outline"></ion-icon>
              </div>

            </ion-button>

          </ion-item>

        </ng-container>

      </ion-list>

      <div class="paginacion-contenedor" *ngIf="mostrarPaginacionFiltro()">
        <pagination-controls
          class="paginacion"
          (pageChange)="pagefiltro = $event"
          [maxSize]="maxSize"
          [directionLinks]="directionLinks"
          [responsive]="responsive"
          [autoHide]="autoHide"
          [previousLabel]="labels.previousLabel"
          [nextLabel]="labels.nextLabel"
          [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
          [screenReaderPageLabel]="labels.screenReaderPageLabel"
          [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel">
        </pagination-controls>
      </div>

    </ng-container>

  </ion-content>

  <!-- SIN REGISTROS -->
  <ion-content *ngIf="!vacio">
    <div style="text-align: center; padding-top: 2%;">
      <ion-img class="tamanoImagen" src="../../../assets/images/Sin_registro.svg"></ion-img>
      <ion-label>
        El Empleado no tiene registrados timbres
      </ion-label>
    </div>
  </ion-content>

  <!-- SIN REGISTROS FILTRADOS -->
  <ion-content *ngIf="!filtro_mensaje">
    <div style="text-align: center; padding-top: 2%;">
      <ion-img class="tamanoImagen" src="../../../assets/images/Sin_registro.svg"></ion-img>
      <ion-label>
        No existen timbres registrados en esas fechas
      </ion-label>
    </div>
  </ion-content>

</ng-container>