<ion-header class="timbres-header" *ngIf="isConnected && serverConnected">
  <div class="header-logo">
    <ion-img class="center logo-principal" src="../../../assets/images/ISOLOGO.png"></ion-img>

    <ion-label mode="md" class="header-title">
      <h1><b>Reloj Virtual</b></h1>
    </ion-label>
  </div>

  <div class="header-filtros">
    <app-rango-fechas></app-rango-fechas>

    <ion-row>
      <ion-col size="6">
        <ion-button
          color="acua"
          shape="round"
          expand="full"
          (click)="mostrarfiltro()"
          [disabled]="btn_filtro">
          <ion-icon color="light" name="search-outline" style="margin-right: 3%;"></ion-icon>
          <ion-label>BUSCAR TIMBRES</ion-label>
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button
          color="theme"
          shape="round"
          expand="full"
          (click)="mostrarTimbres()"
          [disabled]="btn_todos">
          <ion-icon color="light" name="list-outline" style="margin-right: 3%;"></ion-icon>
          <ion-label>MOSTRAR TODOS</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-header>

<ion-header class="timbres-header" *ngIf="!isConnected || !serverConnected">
  <div class="header-logo">
    <ion-img class="center logo-principal" src="../../../assets/images/ISOLOGO.png"></ion-img>

    <ion-label mode="md" class="header-title">
      <h1><b>Reloj Virtual</b></h1>
    </ion-label>
  </div>
</ion-header>

<ng-container *ngIf="isConnected && serverConnected">

  <!-- CONTENEDOR DE TODOS LOS TIMBRES -->
  <ion-content class="timbres-content" *ngIf="!todos">

    <div *ngIf="timbres.length === 0; else todo" class="estado-carga">
      <ion-text color="primary">
        <span>Obteniendo timbres, por favor espere</span>
      </ion-text>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </div>

    <ng-template #todo>
      <app-refresh-info (onRefresh)="ngOnInit()" removeItem="noClean"></app-refresh-info>

      <ion-list class="lista-timbres">
        <ion-item-group
          *ngFor="let item of timbres | keyvalue : ordenOriginal | paginate: { itemsPerPage: 7, currentPage: pageTodos }">

          <ion-item-divider mode="md">
            <ion-label>{{ item.key }}</ion-label>
          </ion-item-divider>

          <ion-item class="item-timbre" *ngFor="let t of item.value">

            <div class="contenedor-accion">
              <ion-label class="textoTimbreEmpleado" color="primary">

                <div class="accion-timbre">

                  <ion-button
                    *ngIf="t.dispositivo_timbre != ''"
                    class="btn-info-timbre"
                    fill="clear"
                    size="small"
                    (click)="presentAlert(t.observacion, t.hora_timbre_diferente, t.ubicacion, t.novedades_conexion, t.conexion)">

                    <ion-icon
                      [name]="t.hora_timbre_diferente || t.conexion != true && (t.dispositivo_timbre != 'biometrico' || t.dispositivo_timbre != 'app_web') ? 'alert-circle-outline' : 'information-circle-outline'">
                    </ion-icon>

                  </ion-button>

                  <div class="accion-texto" [ngSwitch]="t.accion">
                    <span *ngSwitchCase="'PES'">Entrada o salida permiso</span>
                    <span *ngSwitchCase="'AES'">Entrada o salida almuerzo</span>
                    <span *ngSwitchCase="'EoS'">Entrada o salida jornada</span>
                    <span *ngSwitchCase="'E'">Entrada jornada</span>
                    <span *ngSwitchCase="'S'">Salida jornada</span>
                    <span *ngSwitchCase="'I/A'">Inicio alimentación</span>
                    <span *ngSwitchCase="'F/A'">Fin alimentación</span>
                    <span *ngSwitchCase="'S/P'">Inicio permiso</span>
                    <span *ngSwitchCase="'E/P'">Fin permiso</span>
                    <span *ngSwitchCase="'HA'">Timbre abierto</span>
                    <span *ngSwitchDefault>Timbre desconocido</span>
                  </div>

                </div>

              </ion-label>
            </div>

            <ion-button class="tamanoBotonDER" mode="ios" color="light">
              <div>
                Hora: <br>
                <ion-text>{{ t.shora }}</ion-text>
              </div>
            </ion-button>

            <ion-button
              class="ubicacionDER"
              mode="ios"
              color="light"
              shape="round"
              (click)="abrirMapa(t.latitud, t.longitud)"
              [disabled]="!t.latitud || !t.longitud">
              <div>
                <ion-icon color="primary" class="tamanoIconoEmpleado" name="location-outline"></ion-icon>
              </div>
            </ion-button>

            <ion-button
              class="ubicacionMED"
              mode="ios"
              color="light"
              shape="round"
              (click)="mostrarImagenModal(t.documento)"
              [disabled]="!t.documento">
              <div>
                <ion-icon color="primary" class="tamanoIconoEmpleado" name="image-outline"></ion-icon>
              </div>
            </ion-button>

            <ion-button
              class="ubicacionIZQ"
              mode="ios"
              color="light"
              shape="round"
              (click)="mostrarImagenModal(t.imagen)"
              [disabled]="!t.imagen">
              <div>
                <ion-icon color="primary" class="tamanoIconoEmpleado" name="happy-outline"></ion-icon>
              </div>
            </ion-button>

          </ion-item>
        </ion-item-group>
      </ion-list>
    </ng-template>
  </ion-content>

  <!-- PAGINACIÓN TODOS -->
  <ion-footer class="footer-paginacion" *ngIf="!todos" [hidden]="todos">
    <ion-item>
      <pagination-controls
        class="paginacion"
        (pageChange)="pageTodos = $event"
        [maxSize]="maxSize"
        [directionLinks]="directionLinks"
        [responsive]="responsive"
        [autoHide]="autoHide"
        [previousLabel]="labels.previousLabel"
        [nextLabel]="labels.nextLabel"
        [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
        [screenReaderPageLabel]="labels.screenReaderPageLabel"
        [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel">
      </pagination-controls>
    </ion-item>
  </ion-footer>

  <!-- CONTENEDOR DEL FILTRO DE TIMBRES -->
  <ion-content class="timbres-content" *ngIf="!filtro">
    <app-refresh-info (onRefresh)="ngOnInit()" removeItem="noClean"></app-refresh-info>

    <div *ngIf="timbres_filtro.length === 0; else showTimbres" class="estado-carga">
      <ion-text color="primary">
        <span>Obteniendo timbres, por favor espere</span>
      </ion-text>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </div>

    <ng-template #showTimbres>
      <ion-list class="lista-timbres">
        <ion-item-group
          *ngFor="let item of timbres_filtro | keyvalue : ordenOriginal | paginate: { itemsPerPage: 7, currentPage: paginafiltro }">

          <ion-item-divider mode="md">
            <ion-label>{{ item.key }}</ion-label>
          </ion-item-divider>

          <ion-item class="item-timbre" *ngFor="let t of item.value">

            <div class="contenedor-accion">
              <ion-label class="textoTimbreEmpleado" color="primary">

                <div class="accion-timbre">

                  <ion-button
                    *ngIf="t.dispositivo_timbre != ''"
                    class="btn-info-timbre"
                    fill="clear"
                    size="small"
                    (click)="presentAlert(t.observacion, t.hora_timbre_diferente, t.ubicacion, t.novedades_conexion, t.conexion)">

                    <ion-icon
                      [name]="t.hora_timbre_diferente || t.conexion != true ? 'alert-circle-outline' : 'information-circle-outline'">
                    </ion-icon>

                  </ion-button>

                  <div class="accion-texto" [ngSwitch]="t.accion">
                    <span *ngSwitchCase="'PES'">Entrada o salida permiso</span>
                    <span *ngSwitchCase="'AES'">Entrada o salida almuerzo</span>
                    <span *ngSwitchCase="'EoS'">Entrada o salida jornada</span>
                    <span *ngSwitchCase="'E'">Entrada jornada</span>
                    <span *ngSwitchCase="'S'">Salida jornada</span>
                    <span *ngSwitchCase="'I/A'">Inicio alimentación</span>
                    <span *ngSwitchCase="'F/A'">Fin alimentación</span>
                    <span *ngSwitchCase="'S/P'">Inicio permiso</span>
                    <span *ngSwitchCase="'E/P'">Fin permiso</span>
                    <span *ngSwitchCase="'HA'">Timbre abierto</span>
                    <span *ngSwitchDefault>Timbre desconocido</span>
                  </div>

                </div>

              </ion-label>
            </div>

            <ion-button class="tamanoBotonDER" mode="ios" color="light">
              <div>
                Hora: <br>
                <ion-text>{{ t.shora }}</ion-text>
              </div>
            </ion-button>

            <ion-button
              class="ubicacionDER"
              mode="ios"
              color="light"
              shape="round"
              (click)="abrirMapa(t.latitud, t.longitud)"
              [disabled]="!t.latitud || !t.longitud">
              <div>
                <ion-icon color="primary" class="tamanoIconoEmpleado" name="location-outline"></ion-icon>
              </div>
            </ion-button>

            <ion-button
              class="ubicacionMED"
              mode="ios"
              color="light"
              shape="round"
              (click)="mostrarImagenModal(t.documento)"
              [disabled]="!t.documento">
              <div>
                <ion-icon color="primary" class="tamanoIconoEmpleado" name="image-outline"></ion-icon>
              </div>
            </ion-button>

            <ion-button
              class="ubicacionIZQ"
              mode="ios"
              color="light"
              shape="round"
              (click)="mostrarImagenModal(t.imagen)"
              [disabled]="!t.imagen">
              <div>
                <ion-icon color="primary" class="tamanoIconoEmpleado" name="happy-outline"></ion-icon>
              </div>
            </ion-button>

          </ion-item>
        </ion-item-group>
      </ion-list>
    </ng-template>
  </ion-content>

  <!-- PAGINACIÓN FILTRO -->
  <ion-footer class="footer-paginacion" *ngIf="!filtro">
    <ion-item>
      <pagination-controls
        class="paginacion"
        (pageChange)="paginafiltro = $event"
        [maxSize]="maxSize"
        [directionLinks]="directionLinks"
        [responsive]="responsive"
        [autoHide]="autoHide"
        [previousLabel]="labels.previousLabel"
        [nextLabel]="labels.nextLabel"
        [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
        [screenReaderPageLabel]="labels.screenReaderPageLabel"
        [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel">
      </pagination-controls>
    </ion-item>
  </ion-footer>

  <!-- SIN REGISTROS -->
  <ion-content class="timbres-content" *ngIf="!vacio">
    <div class="estado-vacio">
      <ion-img class="tamanoImagen" src="../../../assets/images/Sin_registro.svg"></ion-img>
      <ion-label>El Empleado no tiene registrados timbres</ion-label>
    </div>
  </ion-content>

  <!-- SIN REGISTROS FILTRO -->
  <ion-content class="timbres-content" *ngIf="!filtro_mensaje">
    <div class="estado-vacio">
      <ion-img class="tamanoImagen" src="../../../assets/images/Sin_registro.svg"></ion-img>
      <ion-label>No existen timbres registrados en esas fechas</ion-label>
    </div>
  </ion-content>
</ng-container>

<ng-container *ngIf="!isConnected || !serverConnected">
  <ion-content class="timbres-content">
    <app-refresh-info (onRefresh)="ngOnInit()" removeItem="noClean"></app-refresh-info>

    <section class="offline-card">
      <div class="offline-icon">
        <ion-icon name="cloud-offline-outline"></ion-icon>
      </div>

      <h3>Información no disponible</h3>

      <p>En esta lista encontrará los timbres de este usuario.</p>

      <p *ngIf="!isConnected">
        Se podrán visualizar cuando tenga conexión a internet.
      </p>

      <p *ngIf="!serverConnected">
        Se podrán visualizar cuando tenga conexión al servidor.
      </p>
    </section>

    <section class="offline-image-card">
      <span class="center1">
        <img src="../../../assets/images/ISOLOGO.png">

        <ion-label mode="md" color="medium">
          <h1><b>Reloj Virtual</b></h1>
        </ion-label>
      </span>

      <img class="offline-img" src="../../../assets/images/lost_timee.svg" />
    </section>

    <section class="offline-message">
      <ion-text *ngIf="!isConnected">
        No tiene conexión a internet
      </ion-text>

      <ion-text *ngIf="!serverConnected">
        No tiene conexión al servidor
      </ion-text>
    </section>
  </ion-content>
</ng-container>