h1{
    color: cornflowerblue;
    text-align: center;
}
.img2{
    text-align: center;
    height: 190px;
    width: 190px;
    
}

ion-content{
    text-align: center;
}
p{
    color: cornflowerblue;
}

.center{
    display: block;
    margin: auto;
  }
