/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.pendiente{
    color: rgb(18, 166, 193); 
    margin-top: -1%;
    font-size: 3vw;
  }
  
  .pre_autorizado{
    color: rgb(99, 112, 255); 
    margin-top: 1%;
    font-size: 3vw;
  }
  
  .autorizada{
    color: rgb(80, 251, 80); 
    margin-top: -2%;
    font-size: 3vw;
  }
  
  .negado{
    color: rgb(243, 65, 127); 
    margin-top: -2%;
    font-size: 3.5vw;
  }
  
  .item-pendientes-color{
    --ion-item-background:#333333c3;
    --ion-item-color:#ffffffd5;
    margin-bottom: 1%;
    margin-left: 4%;
    margin-right: 4%;
  }
  
  .item-pre_autorizados-color{
    --ion-item-background:#05274dc3;
    --ion-item-color:#ffffffd5;
    margin-bottom: 1%;
    margin-left: 4%;
    margin-right: 4%;
  }
  
  .item-autorizados-color{
    --ion-item-background:#054d39c3;
    --ion-item-color:#ffffffd5;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
  }
  
  .item-negados-color{
    --ion-item-background:#4d0534c3;
    --ion-item-color:#ffffffd5;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
  }

  #notification-button {            
    position: relative;
    width: 60%;
    overflow: visible!important;
}


#notifications-badge {
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: -2px;
    right: 20px;
    border-radius: 100%;
    font-size: 65%;
}