<app-close-modal titleModal="Editar Solicitud Permiso"></app-close-modal>

<ion-content mode="md">
  <br>
  <app-refresh-info (onRefresh)="ngOnInit()" removeItem="cg_tipo_permiso"></app-refresh-info>
  <form #formRegistro="ngForm">

    <ion-grid mode="md">
      <ion-row>
        <ion-col size="6">
          <ion-item style=" font-size: 85%;" mode="md">
            <ion-icon slot="start" name="document-text-outline"></ion-icon>
            <ion-label>
              <b>Soli.. N°: </b> {{ reg.num_permiso }}
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item style=" font-size: 85%;" mode="md">
            <ion-label *ngIf="reg.estado == 1">
              <b> Estado: </b> <b style="font-size: 95%; float:right;" class="pendiente"> Pendiente </b>
            </ion-label>
            <ion-label *ngIf="reg.estado != 1">
              <b> Estado: </b> <b style=" font-size: 95%;">{{ reg.estado | estadoSolicitudes }}</b>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ng-container *ngIf="reg.legalizado == true">
      <div style="text-align: center;">
        <ion-text id="text_info"> El permiso legalizado depende del tipo de 'permiso seleccionado' </ion-text>
      </div>

      <div class="formdiv">
          <ion-item style=" font-size: 90%;" class="item_fondo" mode="md">
            <ion-label>
              <b> Permiso Legalizar: </b> <b style="float:right;"> SI </b>
            </ion-label>
          </ion-item>        
      </div>
    </ng-container>

    <div style="text-align: center;">
      <ion-text id="text_info"> TOME EN CUENTA LOS DATOS QUE VA A CAMBIAR </ion-text>
    </div>

    <ion-text class="text_info">Seleccione una opcion</ion-text>
      <div class="formdiv">
        <ion-item class="item_fondo" mode="md">
          <ion-label position="floating"><b>Tipo de Permiso</b></ion-label>
          <ion-select name="id_tipo_permiso" mode="md" interface="popover" [(ngModel)]="reg.id_tipo_permiso" (ionChange)="ChangeTipoPermiso($event)">
            <ion-select-option *ngFor="let cg_permiso of cg_tipo_permisos" [value]="cg_permiso.id"> {{ cg_permiso.descripcion }} </ion-select-option>
          </ion-select>
        </ion-item>    
      </div>
   
    <ng-container *ngIf="reg.id_tipo_permiso !== undefined">
      <div class="formdiv" style="margin-top: 3%;">
        <ion-item class="item_fondo" mode="md">
          <ion-label position="floating"><b>Tiempo del Permiso</b></ion-label>
          <ion-select name="solicitud" mode="md" interface="popover" [(ngModel)]="selectItemDiasHoras" (ionChange)="ChangeDiasHoras($event)">
            <ion-select-option *ngFor="let dh of diasHoras" [value]="dh.value"> {{ dh.label }} </ion-select-option>
          </ion-select>
        </ion-item>  
      </div>

      <ng-container *ngIf="selectItemDiasHoras !== ''">
        <ion-text class="text_info">Ingrese los datos</ion-text>
        <ng-container *ngIf="selectItemDiasHoras != null ">
          <div style="text-align: center; width: 100%;">
            <ion-text class="text_info">Ingrese los dias dentro de su calendario laboral </ion-text>
          </div>
          <!-- FECHA INICIO Y FECHA FINAL -->
          <ion-grid style="margin-top: -2%;" mode="md">
            <ion-row>
              <ion-col size="6" >
                <div class="formdiv_tiempo">
                  <ion-item class="item_fondo" id="open-editPermisoInicio" mode="md">
                    <ion-label class="is-required" position="floating" >Día Inicio</ion-label>
                    <ion-input readonly="true" name="fec_inicio" [ngModel]="dia_inicio" mode="md"></ion-input>
                  </ion-item>
                  <ion-modal trigger="open-editPermisoInicio" class="inputDateFecha">
                    <ng-template>
                      <ion-content>
                        <ion-datetime 
                        #datetimeInicio
                        presentation="date" 
                        [showDefaultButtons]="false" 
                        name="fec_inicio" 
                        color="success" 
                        mode="md" 
                        min="2000-01-01" max="2050-12-31" 
                        (ionChange)="ChangeDiaInicio($event)" 
                        [value]="reg.fec_inicio" 
                        required></ion-datetime>
                        <div style="width: 95%;">
                            <ion-label style="float:right; margin: 2%; font-size: medium;" color="success" (click)="datetimeInicio.cancel(true)">Cancelar</ion-label>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="formdiv_tiempo" >
                  <ion-item class="item_fondo" id="open-editPermisoFinal" mode="md">
                    <ion-label class="is-required" position="floating" >Día Final</ion-label>
                    <ion-input readonly="true" name="fec_final" [ngModel]="dia_fianl" mode="md"></ion-input>
                  </ion-item>
                  <ion-modal trigger="open-editPermisoFinal" *ngIf="(dia_inicio != '')" class="inputDateFecha">
                    <ng-template>
                      <ion-content>
                        <ion-datetime *ngIf="dia_inicio != ''"
                        #datetimeFinal
                        [disabled] = "readonly" 
                        presentation="date"
                        [showDefaultButtons]="false" 
                        name="fec_final" 
                        mode="md" 
                        [min]="dia_inicio" [max]="dia_siguiente"
                        (ionChange)="ChangeDiaFinal($event)" 
                        [value]="reg.fec_final" 
                        required></ion-datetime>
                        <div style="width: 95%;">
                          <ion-label style="float:right; margin: 2%; font-size: medium;" color="primary" (click)="datetimeFinal.cancel(true)">Cancelar</ion-label>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                  <ion-popover *ngIf="(dia_inicio == '')" trigger="open-editPermisoFinal">
                    <ion-content>
                      <ng-template>
                        <p style="padding:1%" >Ingrese la fecha de Inicio</p>
                      </ng-template>
                    </ion-content>
                  </ion-popover>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>

        <ng-container *ngIf="selectItemDiasHoras == 'Horas' ||  selectItemDiasHoras == 'Días y Horas'">
          <!-- HORA INICIO Y HORA FINAL -->
          <ion-grid style="margin-top: -4%;" mode="md">
            <ion-row>
              <ion-col size="6">
                <div class="formdiv_tiempo">
                  <ion-item class="item_fondo" id="open-editPermisoHoraInicio" mode="md">
                    <ion-label class="is-required" position="floating" >Hora Inicio</ion-label>
                    <ion-input readonly="true" name="hora_inicio" [ngModel]="hora_inicio" mode="md"></ion-input>
                  </ion-item>
                  <ion-popover trigger="open-editPermisoHoraInicio">
                    <ng-template>
                      <p style="margin: auto; padding: 4%;" *ngIf="(dia_fianl == '') && (reg.fec_final == null)">Ingrese las fechas</p>
                      <ion-datetime *ngIf="dia_fianl != ''"
                      presentation="time" 
                      mode="md" 
                      name="hora_inicio" 
                      [showDefaultButtons]="true"
                        doneText="OK"
                        cancelText="Cancelar" 
                      hourCycle="h12" 
                      (ionChange)="ChangeHoraInicio($event)" 
                      [value]="reg.hora_salida" required></ion-datetime>
                    </ng-template>
                  </ion-popover>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="formdiv_tiempo">

                  <ion-item class="item_fondo" id="open-editPermisoHoraFinal" mode="md">
                    <ion-label class="is-required" position="floating" >Hora Final</ion-label>
                    <ion-input readonly="true" name="hora_final" [ngModel]="hora_final" mode="md"></ion-input>
                  </ion-item>
                  <ion-popover trigger="open-editPermisoHoraFinal">
                    <ng-template>
                      <p style="margin: auto; padding: 4%;" *ngIf="(hora_inicio == '') && (reg.hora_salida == null)">Ingrese la hora inicio</p>
                      <ion-datetime *ngIf="hora_inicio != ''"
                      [disabled] = "fech_bloquf"
                      locale="es-ES"
                      presentation="time" 
                      mode="md" 
                      name="hora_final" 
                      [showDefaultButtons]="true"
                        doneText="OK"
                        cancelText="Cancelar" 
                      hourCycle="h12" 
                      (ionChange)="ChangeHoraFinal($event)" 
                      [value]="reg.hora_ingreso" required></ion-datetime>
                    </ng-template>
                  </ion-popover>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>

         <!-- CALCULO DE TIEMPOS -->
         <div *ngIf="selectItemDiasHoras === 'Días'">
          <ion-button [disabled] = "(btnOculto == true) || validar.vacio(reg.fec_final)"
            shape="round" expand="block" color="tertiary" (click)=" mostrarCalculos()" style="margin: 0% 3% 2% 3%;">
            <ion-icon slot="start" name="calculator-outline"></ion-icon>
            Calcular tiempo real
          </ion-button>
        </div>  
        <div *ngIf="selectItemDiasHoras === 'Horas' ||  selectItemDiasHoras === 'Días y Horas'">
          <ion-button [disabled] = "(btnOculto == true) || (validar.vacio(reg.fec_inicio) || validar.vacio(reg.hora_salida) ||  validar.vacio(reg.fec_final) || validar.vacio(reg.hora_ingreso))"
            shape="round" expand="block" color="tertiary" (click)=" mostrarCalculos()" style="margin: 0% 3% 2% 3%;" >
            <ion-icon slot="start" name="calculator-outline"></ion-icon>
            Calcular tiempo real
          </ion-button>
        </div> 
  
        <ion-text class="text_info">Resultado del calculo</ion-text>
        <!-- CAMPOS DE REFERENCIA A DIAS Y HORAS DE LOS PERMISOS -->
        <ion-list [ngSwitch]="selectItemDiasHoras" style="background-color:transparent;">
          <ion-grid *ngSwitchCase="'Días'" style="margin-top: -2%;" mode="md">
            <ion-row>
              <ion-col size="6">
                <div class="formdiv_tiempo">
                  <ion-item class="item_fondo" mode="md">
                    <ion-label class="is-required" position="floating">Días Permiso</ion-label>
                    <ion-input name="dia" [ngModel]="reg.dia" mode="md" maxlengt="10" disabled="true" required></ion-input>
                  </ion-item>
                </div>
              </ion-col>

              <ion-col size="6">
                <div class="formdiv_tiempo">
                  <ion-item class="item_fondo" mode="md">
                    <ion-label class="is-required" position="floating">Días Libre</ion-label>
                    <ion-input name="dia_libre" [ngModel]="reg.dia_libre" mode="md" maxlengt="10" disabled="true" required></ion-input>
                  </ion-item>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid *ngSwitchCase="'Horas'" style="margin-top: -2%;" mode="md">
            <ion-row>
              <ion-col size="12">
                <div class="formdiv_tiempo">
                  <ion-item class="item_fondo" mode="md">
                    <ion-label class="is-required" position="floating">Horas y minutos de permiso</ion-label>
                    <ion-input name="hora_numero" displayFormat="HH:mm:ss" [ngModel]="reg.hora_numero"  disabled="true"  required></ion-input>
                  </ion-item>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid *ngSwitchCase="'Días y Horas'" style="margin-top: -2%;" mode="md">
            <ion-row>
              <ion-col size="6">
                <div class="formdiv_tiempo">
                  <ion-item class="item_fondo" mode="md">
                    <ion-label class="is-required" position="floating">Días de permiso</ion-label>
                    <ion-input name="dia" [ngModel]="reg.dia" mode="md" disabled="true" maxlengt="10" required></ion-input>
                  </ion-item>
                </div>
              </ion-col>

              <ion-col size="6">
                <div class="formdiv_tiempo">
                  <ion-item class="item_fondo" mode="md">
                    <ion-label class="is-required" position="floating">Días libre</ion-label>
                  <ion-input name="dia_libre" [ngModel]="reg.dia_libre" mode="md" disabled="true" maxlengt="10" required></ion-input>
                  </ion-item>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-text style="font-size: 75%; margin-left: 2%;"> Este resulatado es solo del día final que solicita </ion-text>
                <div class="formdiv_tiempo">
                  <ion-item class="item_fondo" mode="md">
                    <ion-label class="is-required" position="floating">Horas y minutos de permiso</ion-label>
                    <ion-input name="hora_numero" displayFormat="HH:mm:ss" disabled="true" [ngModel]="reg.hora_numero" required></ion-input>
                  </ion-item>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
      </ng-container>

      <ion-text class="text_info"> Detalle la Observación de la solicitud maximo 55 palabras</ion-text>
        <div class="formdiv">
          <ion-item class="item_fondo" mode="md">
            <ion-label position="floating"><b>Observación </b></ion-label>
            <ion-textarea style="font-size: 90%;" mode="md" name="descripcion" (ionChange)="ChangeObservacion($event)"  [(ngModel)]="reg.descripcion" rows="2" cols="20" mode="ios" minlength="3" maxlengt="55"></ion-textarea>
          </ion-item>
        </div>

      <ion-text class="text_info">Subir documento de respaldo</ion-text>
      <p *ngIf="mensajedocumentBloqueado != ''" style="margin: 1% 2% 0% 2%; font-size: 76%; text-align: center; color: rgb(245, 130, 7);">{{mensajedocumentBloqueado}}</p>
      <div class="formdiv" >
        <ion-item class="item_fondo" for="file" mode="md" [disabled] = "blockDocument">
          <ion-label position ="floating" style="margin: 1% 0% -2% 0%; font-size: 100%;" ><b>Justificar Permiso</b>  </ion-label>
          <br>
          <!--Este input, permite validar el boton btn_save, que se active o este desactivado deacurdo al documento ingresado-->
          <ion-input readonly="true" [(ngModel)]="reg.documento" name="file" id="file" [required]="required"></ion-input> 

            <!-- Esto, permite ingresar el documento-->
            <ion-label *ngIf="reg.documento == null || reg.documento == ''" position ="floating" style="font-size: 95%; margin-bottom: 2%;"> 
              <ion-icon slot="start" color="theme" class="icon_upload" name="cloud-upload-outline"></ion-icon>&nbsp; &nbsp; 
              &nbsp; &nbsp; Subir archivo /max 2Mb: &nbsp;
            </ion-label>

            <ion-input style="width: max-content; height: max-content;" (change)="fileChange($event)" readonly="true" type="file"  id="file" [required]="required"></ion-input>
            
            <!-- Mesaje que tiene el nombre del archivo a subir -->
            <ion-text *ngIf="reg.documento != '' " style="font-size: 90%; margin:2% 0% 3% 0%; " color="primary" >{{reg.documento}}</ion-text>   
      
            <!-- Mesaje que indica el error en subir el archivo -->
            <ion-text *ngIf="reg.documento == '' " style="font-size: 90%;  margin:3% 0% 3% 0%;" color="warning" >{{mensajeFile}}</ion-text> 

        </ion-item>
        
        <div *ngIf="reg.documento != '' && reg.documento !== null && reg.documento !== undefined" >
          <ion-button color="medium" shape="round" expand="block"  (click)="deleteDocumentoPermiso()">
            <ion-text style="font-size: 90%;"> <ion-icon color="danger" name="trash-outline"></ion-icon> Quitar documento </ion-text>
          </ion-button>
        </div>
      </div>

      <!-- BOTON GUARDAR COMPONENTE -->
      <div style="margin: 6% 3% 0% 3%;" [hidden]= "btnOcultoguardar" *ngIf="btnOcultoguardar === false">
        <ion-text *ngIf="cg_permiso.documento == true " color="medium" class="text_info" style="margin: 0% 10% 0% 10%;">
          Es obligatorio en {{cg_permiso.descripcion}} el documento de Respaldo 
        </ion-text>
        <button style="width: 100%; background-color: transparent;">
          <btn-update (onUpdate)="UpdateRegister()" [loadingBtn]="loadingBtn" [formRegistro]="formRegistro" ></btn-update>
        </button>
      </div>

    </ng-container>
  </form>
  <br><br>
</ion-content>