<app-refresh-info (onRefresh)="ngOnInit()" removeItem="lista-empleados"></app-refresh-info>

<ion-searchbar autocomplete="off" showCancelButton="focus" (ionChange)="changeSearch($event)"></ion-searchbar>

<ion-content [hidden]="loading">
  <div style="text-align: center;">
    <br>
    <ion-text color="primary">
      <span>Obteniendo Empleados Por favor Espere</span>
    </ion-text>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <br>
  </div>
</ion-content>


  <ion-card style="margin: 2.5%; border-radius: 2%;" 
  *ngFor="let e of empleados_filtro | paginate: { itemsPerPage: 10, currentPage: pageActual}">
    <ion-item style="width: 95%; margin: auto;">
      <ion-avatar slot="start">
        <ion-icon name="person-circle-outline" color="theme" style="font-size: 35px;"></ion-icon>
      </ion-avatar>
     <ion-label>
      <h2> {{ e.fullname }}</h2>
      <p>Cédula: {{ e.cedula }} </p>
      <p>Código: {{ e.codigo }} </p>
      </ion-label>
      <ion-icon name="navigate-circle-outline" color="acua" slot="end" style="font-size: 30px;" (click)="presentModal(e)"></ion-icon>
    </ion-item>
  </ion-card>

  <!--Configuracion del Pagination - ngxPaginationModulo-->
  <ion-item style="font-size: 70%; margin: 1% 0% 0% 0%;" [hidden] = "ver" *ngIf="empleados_filtro != undefined || empleados_filtro != null">
    <pagination-controls 
      class="paginacion" 
      (pageChange)="pageActual = $event" 
      [maxSize] = maxSize
      [directionLinks] = directionLinks
      [responsive] = responsive 
      [autoHide]="autoHide"
      [previousLabel]="labels.previousLabel"
      [nextLabel]="labels.nextLabel"
      [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
      [screenReaderPageLabel]="labels.screenReaderPageLabel"
      [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel">
    </pagination-controls>
  </ion-item>

 



