<app-refresh-info (onRefresh)="ngOnInit()" removeItem="lista-empleados"></app-refresh-info>

<div class="contenedor-empleados">

  <ion-searchbar
    class="buscador-empleados"
    autocomplete="off"
    showCancelButton="focus"
    placeholder="Buscar empleado"
    (ionChange)="changeSearch($event)">
  </ion-searchbar>

  <ion-content *ngIf="!loading">
    <div class="estado-carga">
      <ion-text color="primary">
        <span>Obteniendo empleados, por favor espere</span>
      </ion-text>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </div>
  </ion-content>

  <ion-card
    class="card-empleado"
    *ngFor="let e of empleados_filtro | paginate: { itemsPerPage: 10, currentPage: pageActual }">

    <ion-item lines="none" class="item-empleado">

      <div class="avatar-empleado" slot="start">
        <ion-icon name="person-outline"></ion-icon>
      </div>

      <ion-label class="info-empleado">
        <h2>{{ e.fullname }}</h2>

        <p>
          <ion-icon name="card-outline"></ion-icon>
          <span>Identificación:</span> {{ e.identificacion }}
        </p>

        <p>
          <ion-icon name="barcode-outline"></ion-icon>
          <span>Código:</span> {{ e.codigo }}
        </p>
      </ion-label>

      <ion-button
        fill="clear"
        class="btn-ver"
        slot="end"
        (click)="presentModal(e)">
        <ion-icon name="navigate-circle-outline"></ion-icon>
      </ion-button>

    </ion-item>
  </ion-card>

  <div
    class="contenedor-paginacion"
    [hidden]="ver"
    *ngIf="empleados_filtro != undefined || empleados_filtro != null">

    <pagination-controls
      class="paginacion"
      (pageChange)="pageActual = $event"
      [maxSize]="maxSize"
      [directionLinks]="directionLinks"
      [responsive]="responsive"
      [autoHide]="autoHide"
      [previousLabel]="labels.previousLabel"
      [nextLabel]="labels.nextLabel"
      [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
      [screenReaderPageLabel]="labels.screenReaderPageLabel"
      [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel">
    </pagination-controls>

  </div>

</div>