.margenIzqTitulo {
  margin-left: 15%;
}
ion-content {
  overflow-x: scroll;

  .btn-reporte {
    margin: 10px 0px
  };

  ion-icon {
    margin-right: 10px;
  }

  table {
    margin-left: 4%;
    width: 92%;
    background-color: #ffffff;
  }
  .header-table {
    background-color: #5270b4;
    border: 1px solid #5270b4;
    margin: 2%;
    color: #ffffff;
    th, td {
      text-align: center;
      padding: 5px;
      font-size: 8px;
    }
  }

  .detail-table {
    margin: 1%;
    th, td {
      font-size: 5px;
      text-align: center;
      border-collapse: collapse;
      padding: 0% 1% 0% 1%;
    }

    tr:nth-child(even) {
      background-color: rgb(216, 215, 215);
      border: 1px solid rgb(216, 215, 215);
    }

    tr:nth-child(odd) {
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(255, 255, 255);
    }
  }
}

.info{
  margin: -2% 2% 2% 2%; 
  text-align: center;
}

h5{
  font-size: 60%;
}
