<app-close-modal titleModal="Generar Reporte"></app-close-modal>


<ion-content>

  <br>
  <ion-text color="primary" *ngIf="fechaInicio === '' || fechaFinal === ''; else showBoton">
    <h1 style="margin: 5px 15px; text-align: center;">Falta agregar las fechas de consultas</h1>
  </ion-text>

  <ng-template #showBoton>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-text color="dark">
            <h4 style="margin: 5px 15px; text-align: center;"><ion-icon name="person"></ion-icon>{{data.fullname}}</h4>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col size="6">
          <ion-button color="success" shape="round" expand="full" (click)="consultarDataReporte()"
            [disabled]="showBtnPdf">

            <ng-container *ngIf="loading; then consultar; else spiner"></ng-container>
            <ng-template #consultar>
              <ion-icon name="search-outline"></ion-icon> Buscar
            </ng-template>
            <ng-template #spiner>
              <ion-spinner name="circles"></ion-spinner>
            </ng-template>

          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button color="secondary" shape="round" expand="full" (click)="generarPDF()" [disabled]="!showBtnPdf">
            <ion-icon name="document-text-outline"></ion-icon>PDF
          </ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>

    <div class="info" *ngIf="count != 0">
      <h5>
        Timbres encontrados {{count}}
      </h5>
    </div>

    <table id="tablaReporte" style="color: rgb(0, 0, 0);">
      <thead class="header-table">

        <tr>
          <td style="text-align: center;" rowspan="2">N#</td>
          <td style="text-align: center;" colspan="2">Timbre</td>
          <td style="text-align: center;" colspan="2">Servidor</td>

          <td style="text-align: center;" rowspan="2">Descripción</td>
          <td style="text-align: center;" rowspan="2">Latitud</td>
          <td style="text-align: center;" rowspan="2">Longitud</td>
          <!--
          <td>Aut</td>
          <td>ID dispositivo</td>
          -->
        </tr>
        <tr>
          <td style="text-align: center;">Fecha</td>
          <td style="text-align: center;">Hora</td>
          <td style="text-align: center;">Fecha</td>
          <td style="text-align: center;">Hora</td>
        </tr>
      </thead>

      <tbody class="detail-table">
        <tr *ngFor="let timbre of timbres">
          <td>{{timbre.num}}</td>
          <td>{{timbre.fecha}}</td>
          <td>{{timbre.hora}}</td>
          <td *ngIf="timbre.fec_hora_timbre_servidor != null">{{timbre.sfecha}}</td>
          <td *ngIf="timbre.fec_hora_timbre_servidor === null"></td>
          <td *ngIf="timbre.fec_hora_timbre_servidor != null">{{timbre.shora}}</td>
          <td *ngIf="timbre.fec_hora_timbre_servidor === null"></td>
          <td [ngSwitch]="timbre.tecl_funcion">
            <p *ngSwitchCase="1">Inicio de la jornada</p>
            <p *ngSwitchCase="2">Fin de la jornada</p>
            <p *ngSwitchCase="3">Inicio almuerzo</p>
            <p *ngSwitchCase="4">Fin almuerzo</p>
            <p *ngSwitchCase="5">Inicio permiso</p>
            <p *ngSwitchCase="6">Fin permiso</p>
            <p *ngSwitchDefault>Timbre desconocido</p>
          </td>
          <td>{{timbre.latitud.slice(0, 9)}}</td>
          <td>{{timbre.longitud.slice(0, 9)}}</td>
        </tr>

        <tr>
          <td colspan="8" *ngIf="count != 0" >
            <p>
              Total timbres filtrados {{count}}
            </p>
          </td>
        </tr>

      </tbody>
    </table>
    <br><br>
  </ng-template>

</ion-content>